/*! Copyright 2026 Adobe
All Rights Reserved. */
._screenshotContainer_3lo17_10{margin-bottom:24px;margin-top:6px;display:flex;justify-content:center;overflow:hidden;border-radius:.5rem;border:1px solid rgb(234,237,242);background-color:#fafafc}._image_3lo17_21{-webkit-user-select:none;user-select:none;background-color:#fff;outline-width:1px;outline-color:#9ca3af;width:100%;object-fit:cover}
