/* The GraphiQL Explorer */

.sl-markdown-content
  :not(a, strong, em, del, span, input, code)
  + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
  margin-top: 0;
}

.CodeMirror-vscrollbar {
  overflow-y: hidden;
}

.doc-explorer-title {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
}

.graphiql-history-header {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
}

.graphiql-doc-explorer-title {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
  overflow-y: hidden;
}

.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-body);
  padding: 0 !important;
}

.graphiql-explorer-root > div:first-child {
  padding-left: var(--px-2);
  overflow: hidden !important;
}

.graphiql-explorer-root input {
  background: hsl(var(--color-base));
  min-width: fit-content;
}

.graphiql-explorer-root select {
  background-color: hsl(var(--color-base));
  border: 1px solid hsla(var(--color-neutral), var(--alpha-secondary));
  border-radius: var(--border-radius-4);
  color: hsl(var(--color-neutral));
  margin: 0 var(--px-4);
  padding: var(--px-4) var(--px-6);
}

/* CSS */
.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: system-ui, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249, 250, 251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.queries-bar {
  display: grid;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #d1d5db;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  grid-template-columns: auto auto auto 1fr auto;
  gap: 0.5rem;
}

.execution-time {
  background-color: var(--sl-color-pink-low); /* Highlight with a yellow background */
  border: 1px solid var(--sl-color-pink);
  color: #000; /* Black text for good contrast */
  padding: 10px; /* Add some padding */
  border-radius: 5px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  margin-top: 10px; /* Space above the element */
  justify-self: flex-end;
}

.graphiql-container .graphiql-session {
  display: flex;
  gap: var(--px-8);
  height: 100%;
  flex-direction: row;
}

.graphiql-container {
  background-color: hsl(var(--color-base));
  display: flex;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
  min-height: 500px;
}

.graphiql-wrapper {
  border-radius: 0.25rem;
}
