/*********************************************
 * Component CSS and Overrides 
 *********************************************/

:root {
  --scrollbar-thumb: rgb(102, 102, 132, 0.3);
  --editor-background: transparent;
  --editor-min-height: 450px;
  --query-bar-height: 73px;
  --sidebar-height: 56px;
  --sl-color-pink-low: hsl(323, 100%, 95%);
  --sl-color-pink: hsl(320, 100%, 81%);
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.graphiql-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  border-radius: 0 0 8px 8px;
  border: 0.5px solid #d1d5db;
}

.graphiql-container .graphiql-main {
  display: flex;
  min-width: 0;
  height: 400px;
  min-height: calc(100vh - 530px);
}

.graphiql-container .graphiql-main > div:first-child {
  display: flex;
  min-width: 0 !important;
  height: 400px;
  min-height: calc(100vh - 530px);
}

.response-header {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  background-color: #f1f1f1;
  border-bottom: 1px solid #d1d5db;
}

.endpoint-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.post-button {
  box-sizing: border-box;
  color: #111827;
  font-family: system-ui, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.endpoint-input {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #333;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  font-size: 1.1rem;
}

/*********************************************
 * QueryEditor
 *********************************************/

.graphiql-container .graphiql-editors {
  background-color: hsl(var(--color-base));
  border-radius: calc(var(--border-radius-12));
  box-shadow: var(--popover-box-shadow);
  display: flex;
  flex: 1;
  flex-direction: column;
}
.graphiql-container .graphiql-editors.full-height {
  margin-top: 0.5rem;
}

.graphiql-editor {
  position: relative;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

.graphiql-container .graphiql-query-editor {
  flex-grow: 1;
  padding: var(--px-8);
  column-gap: var(--px-8);
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
}

.graphiql-container .graphiql-toolbar {
  width: var(--toolbar-width);
  margin-top: 1rem;
}

/*********************************************
/* CodeMirror Editor                     *
/*********************************************/

.CodeMirror-scroll {
  overflow: auto !important;
  margin-top: 1rem;
  padding-bottom: 3rem !important;
}

.CodeMirror-sizer {
  padding-top: 0;
  padding-bottom: 3rem !important;
}

.CodeMirror-vscrollbar {
  padding-top: 1rem;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
  margin-top: 1rem;
}

.CodeMirror-hscrollbar {
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
}

/*********************************************
/* QueriesBar                                *
/*********************************************/
.queries-title {
  font-size: 0.9rem;
  text-align: right;
  font-weight: 600;
  color: #333;
  width: 70px;
  margin-right: 0.5rem;
  padding-left: 1rem;
  line-height: 1.3;
}

.queries-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0;
  background-color: #f1f1f1;
  border-bottom: 1px solid #d1d5db;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  gap: 0.5rem;
  border: 0.5px solid #d1d5db;
}

.response-stats {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
}

.response-stat {
  font-size: 0.9rem;
  align-items: center;
  white-space: nowrap;
}

.stat-label {
  color: #555;
  font-weight: 400;
  text-align: right;
}
.stat-value {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  padding-right: 1rem;
}

.query-button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: system-ui, sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.query-button:hover {
  background-color: rgb(249, 250, 251);
}

.query-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.query-button:focus-visible {
  box-shadow: none;
}

/*********************************************
 * Response Viewer
 *********************************************/
.graphiql-container .graphiql-response {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.75rem;
  padding-left: 1rem;
  background-color: hsl(var(--color-base));
}

/*********************************************
 * Sidebar / Plugins Panel
 *********************************************/
.graphiql-container .graphiql-plugin {
  border-left: 1px solid hsla(var(--color-neutral), var(--alpha-background-heavy));
  overflow-y: hidden;
  padding: var(--px-8);
  padding-right: 0;
  padding-left: 1rem;
}

.graphiql-container .graphiql-sidebar {
  flex-direction: row;
  padding: var(--px-4) var(--px-8);
  width: 100%;
  /* background-color: #f9f9f9; */
}
.graphiql-container .graphiql-sidebar .graphiql-sidebar-section {
  flex-direction: row;
  align-items: baseline;
  padding-bottom: 0;
}

.graphiql-container .graphiql-sessions {
  margin-top: 0;
  border-radius: 0 0 8px 8px;
  margin-right: 0;
  margin-bottom: 0;
}

.graphiql-container .graphiql-session {
  display: flex;
  flex: 1;
  padding: var(--px-12);
  padding-top: 0;
}

/*********************************************
/* Explorer/QueryBuilder                     *
/*********************************************/
.docExplorerWrap.docExplorerWrap {
  height: 100% !important;
  min-width: unset !important;
  width: 100% !important;
}

.doc-explorer-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.doc-explorer-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
}

.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root input {
  width: 15ch !important;
  background: hsl(var(--color-base));
}

.graphiql-explorer-root select {
  background-color: hsl(var(--color-base));
  border: 1px solid hsla(var(--color-neutral), var(--alpha-secondary));
  border-radius: var(--border-radius-4);
  color: hsl(var(--color-neutral));
  margin: 0 var(--px-4);
  padding: var(--px-4) var(--px-6);
}

/* .graphiql-explorer-root {
  font-family: var(--font-family-mono) !important;
  font-size: var(--font-size-body) !important;
  padding: 0 !important;
} */
.graphiql-explorer-root {
  font-size: 13px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 !important;
  padding: 8px;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

/* .graphiql-explorer-root > div:first-child {
  padding-left: var(--px-8);
  overflow: hidden !important;
} */
.graphiql-explorer-root > div:first-child {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
}

.graphiql-explorer-root > div:last-child {
  display: none;
}

/*********************************************
/* History                                   *
/*********************************************/
.graphiql-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.graphiql-history-header {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphiql-history-items {
  height: 100%;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
  /* margin-right: -0.75rem; */
}

.graphiql-history-item {
  border-radius: var(--border-radius-4);
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  display: flex;
  font-size: var(--font-size-inline-code);
  font-family: var(--font-family-mono);
  height: 24px;
}

button.graphiql-history-item-label {
  flex: 1;
  padding: var(--px-4) var(--px-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.graphiql-history-item-action {
  align-items: center;
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  display: flex;
  padding: var(--px-4) var(--px-4);
}

/*********************************************
/* Docs                                      *
/*********************************************/
.graphiql-doc-explorer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.graphiql-markdown-description p {
  font-size: 1rem;
  line-height: 1.35rem;
  margin-top: 0;
}

.graphiql-doc-explorer-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.graphiql-doc-explorer-content {
  overflow-y: auto !important;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
  padding-bottom: var(--px-16);
}
.graphiql-doc-explorer-content > * {
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  margin-top: var(--px-12);
}
.graphiql-doc-explorer-section-title {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}
.graphiql-doc-explorer-section-title > svg {
  display: none;
}

.graphiql-doc-explorer-section-content {
  margin-left: var(--px-8);
  margin-top: var(--px-8);
}

.graphiql-doc-explorer-search {
  position: absolute;
  right: 0;
  top: 4px;
}

.graphiql-doc-explorer-search-input {
  align-items: center;
  background-color: hsla(var(--color-neutral), var(--alpha-background-light));
  border-radius: var(--border-radius-4);
  display: flex;
  padding: var(--px-4) var(--px-8);
}

/*********************************************
/* Removed Elements                          *
/*********************************************/

/* Contains the add tabs button. Removed with display:none */
.graphiql-container .graphiql-session-header {
  display: none;
  height: 0;
}

/* The add tabs button. Removed with display:none */
.graphiql-container .graphiql-session-header-right {
  display: none;
  height: 0;
}
