:root {
  --scrollbar-thumb: rgb(102, 102, 132, 0.3);
  --editor-background: transparent;
  --editor-min-height: 450px;
  --query-bar-height: 73px;
  --sidebar-height: 56px;
  --sl-color-pink-low: hsl(323, 100%, 95%);
  --sl-color-pink: hsl(320, 100%, 81%);
  --sl-color-pink-hover: hsl(321, 100%, 93%);
}

/***********************************************
/* Wraps GraphiQLEditor Queries Bar and Editor *
/***********************************************/

.editor-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 1rem;
}

/*********************************************
/* Push Query Editor code away from Toolbar  *
/*********************************************/

span[role='presentation'] {
  position: relative;
  padding-right: 50px !important;
  padding-bottom: 2rem !important;
}

/*********************************************
/* CodeMirror Editor                     *
/*********************************************/

.CodeMirror-code {
  position: relative;
  font-family: var(--font-family-mono);
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 0;
}

.CodeMirror-scroll {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.CodeMirror-scrollbar-filler {
  background-color: transparent;
}

.CodeMirror-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CodeMirror-sizer {
  position: relative;
  padding-top: 0;
  min-width: 0 !important;
}

.CodeMirror-vscrollbar {
  padding-top: 1rem;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
  margin-top: 1rem;
}

.CodeMirror-hscrollbar {
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
}

/***********************************************************
/* Ensures Query Editor code doesn't overlap line numbers  *
/***********************************************************/

.graphiql-container .graphiql-editor .CodeMirror-gutters.CodeMirror-gutters {
  width: 40px;
  background-color: var(--color-neutral);
}

/*********************************************
/* QueriesBar                                *
/*********************************************/

.queries-bar {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  /* padding: 0.5rem; */
  background-color: #f1f1f1;
  border-bottom: 1px solid #d1d5db;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  gap: 0.5rem;
  border: 0.5px solid #d1d5db;
}

.response-stats {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-size: 0.9rem;
  line-height: 1.3;
}

.response-stat {
  font-size: 0.9rem;
  align-items: center;
  white-space: nowrap;
}

.stat-label {
  color: #555;
  font-weight: 400;
  text-align: right;
}
.stat-value {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  padding-right: 1rem;
}

.query-button {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: system-ui, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.65rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.query-selector {
  background-color: var(--sl-color-pink-low);
  border: 1px solid var(--sl-color-pink);
  background-position: bottom 1.6rem right 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02rem;
  /* padding: 0.75rem 0.5rem; */
  padding-right: 2.5rem;
  padding-left: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 1.75rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: fit-content;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: -1rem;
  border-radius: 9px 3px 0 0;
  align-items: center;
}

.query-selector:focus {
  box-shadow: none;
  outline: none;
  outline-offset: 0;
}
.query-selector:focus-visible {
  box-shadow: none;
  outline: none;
  outline-offset: 0;
}

.query-selector:hover {
  background-color: var(--sl-color-pink-hover);
}

.query-button:hover {
  background-color: rgb(249, 250, 251);
}

.query-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.query-button:focus-visible {
  box-shadow: none;
}

/*********************************************
/* Explorer Plugin (QueryBuilder)            *
/*********************************************/
.docExplorerWrap {
  height: 100% !important;
  min-width: unset !important;
  width: 100% !important;
}

.doc-explorer-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.doc-explorer-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
}

.doc-explorer-rhs {
  display: none;
}

.graphiql-explorer-root input {
  width: 15ch !important;
  background: var(--color-base);
}

.graphiql-explorer-root select {
  background-color: var(--color-base);
  border: 1px solid hsla(var(--color-neutral), var(--alpha-secondary));
  border-radius: var(--border-radius-4);
  color: var(--color-neutral);
  margin: 0 var(--px-4);
  padding: var(--px-4) var(--px-6);
}

/* .graphiql-explorer-root {
  font-family: var(--font-family-mono) !important;
  font-size: var(--font-size-body) !important;
  padding: 0 !important;
} */
.graphiql-explorer-root {
  display: flex;
  font-size: 13px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 !important;
  padding: 8px;
  padding-right: 0 !important;
  flex-direction: column;
  overflow: hidden !important;
}

/* .graphiql-explorer-root > div:first-child {
  padding-left: var(--px-8);
  overflow: hidden !important;
} */
.graphiql-explorer-root > div:first-child {
  overflow-y: auto !important;
  overflow-x: hidden !important;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
}

.graphiql-explorer-root > div:last-child {
  display: none;
}

/*********************************************
/* History Plugin                            *
/*********************************************/
.graphiql-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.graphiql-history-header {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graphiql-history-items {
  height: 100%;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
  /* margin-right: -0.75rem; */
}

.graphiql-history-item {
  border-radius: var(--border-radius-4);
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  display: flex;
  font-size: var(--font-size-inline-code);
  font-family: var(--font-family-mono);
  height: 24px;
}

button.graphiql-history-item-label {
  flex: 1;
  padding: var(--px-4) var(--px-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.graphiql-history-item-action {
  align-items: center;
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  display: flex;
  padding: var(--px-4) var(--px-4);
}

/*********************************************
/* Docs Plugin                               *
/*********************************************/
.graphiql-doc-explorer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.graphiql-markdown-description p {
  font-size: 1rem;
  line-height: 1.35rem;
  margin-top: 0;
}

.graphiql-doc-explorer-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.graphiql-doc-explorer-content {
  overflow-y: auto !important;
  scrollbar-color: var(--scrollbar-thumb) var(--editor-background);
  padding-bottom: var(--px-16);
}
.graphiql-doc-explorer-content > * {
  color: hsla(var(--color-neutral), var(--alpha-secondary));
  margin-top: var(--px-12);
}
.graphiql-doc-explorer-section-title {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}
.graphiql-doc-explorer-section-title > svg {
  display: none;
}

.graphiql-doc-explorer-section-content {
  margin-left: var(--px-8);
  margin-top: var(--px-8);
}

.graphiql-doc-explorer-search {
  position: absolute;
  right: 0;
  top: 4px;
}

.graphiql-doc-explorer-search-input {
  align-items: center;
  background-color: hsla(var(--color-neutral), var(--alpha-background-light));
  border-radius: var(--border-radius-4);
  display: flex;
  padding: var(--px-4) var(--px-8);
}
