registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-storefront-sdk-release/
@adobe:registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-storefront-sdk-release/
@exc:registry=https://artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release-local/