registry=https://registry.npmjs.org/
@adobe:registry=https://artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-storefront-sdk-release/
//artifactory-uw2.adobeitc.com/artifactory/api/npm/npm-storefront-sdk-release/:_authToken=ARTIFACTORY_TOKEN
