@page {
  size: 8.5in 11in;
}

.s2pdf-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 3rem;
}

.s2pdf-pagebreak {
  break-after: page;
}

.s2pdf-container {
  padding-top: 1rem;
}

.s2pdf-contents {
  padding-top: 1rem;
  margin-top: 1rem;
}