@page {
  size: 7in 11in
  margin: 0.5in;
  @top-right {
    content: "Page " counter(pageNumber);
  }
}

.page-break {
    break-after: page;
}

.s2pdf-heading {
    margin-bottom: 1rem;
}

.s2pdf-pagebreak {
    break-after: page;
}
