.product-discovery-facet-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-discovery-facet-list__selected-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: var(--spacing-xxsmall);
    padding: 0 0 var(--spacing-xxsmall) 0;
}

.product-discovery-facet-list__selected-filters button {
    padding: 0 var(--spacing-xxsmall);
    margin: 0 var(--spacing-xxsmall);
    border-radius: var(--shape-border-radius-2);
}

.product-discovery-facet-list__selected-filters .dropin-price-range .dropin-price--small.dropin-price--bold {
    font: var(--type-button-2-font);
}

.product-discovery-facet-list__facet-options {
    text-align: left;
}

.product-discovery-facet-list__facet-options button {
    padding: 0 0 0 0;
}

.product-discovery-facet-list__facet-options .dropin-radio-button {
    padding: var(--spacing-xxsmall) 0;
}

.product-discovery-facet-list__facet-options--hidden {
    display: none;
}

.product-discovery-facet-list__show-filters-button {
    display: flex;
    margin: 0 0 var(--spacing-xsmall) 0;
}

.product-discovery-facet-list .dropin-divider {
    margin: var(--spacing-xsmall) 0 var(--spacing-xsmall) 0;
}

/* Medium (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
    .product-discovery-facet-list {
        min-width: 13.12rem;
    }

    .product-discovery-facet-list__facet-options {
        display: flex;
        flex-direction: column;
    }

    .product-discovery-facet-list__show-filters-button {
        display: none;
    }
}

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) {
      
   } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */