.product-discovery-product-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-discovery-product-list__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-discovery-product-list__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: var(--spacing-small);
}

.product-discovery-product-list__grid .dropin-product-item-card {
    text-align: left;
    border: 1px solid transparent;
    width: 200px;
}

.product-discovery-product-list__grid .dropin-product-item-card:hover {
    border: 1px solid var(--color-neutral-400);
    box-shadow: 0px 0px var(--spacing-xsmall) 0px darkgrey;
    padding: none;
}

.product-discovery-product-list__grid .dropin-product-item-card a:hover {
    text-decoration: none;
    color: var(--color-neutral-800);
}

.product-discovery-product-list__header {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.product-discovery-product-list__picker {
    width: 15.625rem;
    display: inline-block;
}

.product-discovery-product-item__image {
    min-height: 250px;
}

/* Medium (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
    .product-discovery-product-list__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* XLarge (laptops/desktops, 1366px and up) */
@media only screen and (min-width: 1366px) {
    .product-discovery-product-list__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}