.product-discovery-product-list {
    container-type: inline-size;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-discovery-product-list__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-discovery-product-list__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-small);
}

/* Normalize ProductItemCard */
.product-discovery-product-list__grid .dropin-product-item-card {
    margin: unset;
    width: 100%;
}

.product-discovery-product-list__grid .dropin-product-item-card img,
.product-discovery-product-list__grid .dropin-product-item-card__skeleton__image {
    aspect-ratio: var(--imageWidth) / var(--imageHeight);
    max-height: unset;
    height: unset;
}

@container (min-width: 600px) {
    .product-discovery-product-list__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container (min-width: 900px) {
    .product-discovery-product-list__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@container (min-width: 1200px) {
    .product-discovery-product-list__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}