.product-discovery--product-item {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--spacing-small);
    width: auto;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: var(--font-weight-regular, 600);
}

.product-discovery--product-item:hover,
.product-discovery--product-item:focus {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.product-discovery--product-item__image .dropin-image {
    width: 10rem;
    height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
    object-fit: cover;
    border-radius: var(--shape-border-radius-2, 4px);
}

.product-discovery--product-item__details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
}

.product-discovery--product-item__details [data-slot='ProductPrice'] {
    text-align: start;
}