.product-discovery-results-info {
    display: none;
}

.product-discovery-results-info__search-phrase--upercase {
    text-transform: capitalize;
}

/* Medium (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
    .product-discovery-results-info {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xsmall);
        width: 100%;
        padding: var(--spacing-xsmall);
        text-align: center;
    }
}