.product-discovery-search-alert-message__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 300px;
}

.product-discovery-search-alert-message__content {
    display: flex;
    justify-content: center;
}