.product-discovery--search-bar-input__container {
    display: flex;
    align-items: center;
    width: 100%;
}

.product-discovery--search-bar-input__form {
    display: flex;
    align-items: center;
}