/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-fields-form {
  display: block;
}

/*********** Skeleton ***********/
.checkout-shipping-address__skeleton {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-medium);
  flex-wrap: wrap;
  min-width: 384px;
}

/*********** Fields ***********/
.checkout-address-form__company {
  /* fill both columns */
  grid-column: 1 / -1;
}

.checkout-address-form__street {
  /* fill both columns */
  grid-column: 1 / -1;
}

.checkout-address-form__street .dropin-input-container {
  margin-bottom: var(--spacing-medium);
}

.checkout-address-form__street .dropin-input-container:last-child {
  margin-bottom: 0;
}

.checkout-address-form__street .dropin-field__content {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xxsmall);
}

.checkout-address-form__country_id .dropin-picker__options-container,
.checkout-address-form__region .dropin-picker__options-container {
  z-index: 100;
}

.checkout-address-form__save {
  /* fill both columns */
  grid-column: 1 / -1;
  /* center the button */
  justify-self: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */
