/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-estimate-shipping {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xxsmall);
  align-items: center;
  color: var(--color-neutral-800);
}

.checkout-estimate-shipping__label,
.checkout-estimate-shipping__price {
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}

.checkout-estimate-shipping__label--muted {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  color: var(--color-neutral-700);
}

.checkout-estimate-shipping__price--muted {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

.checkout-estimate-shipping__price {
  text-align: right;
}

.checkout-estimate-shipping__label--bold,
.checkout-estimate-shipping__price--bold {
  font: var(--type-body-1-emphasized-font);
  letter-spacing: var(--type-body-1-emphasized-letter-spacing);
}

.checkout-estimate-shipping__caption {
  font: var(--type-details-caption-2-font);
  letter-spacing: var(--type-details-caption-2-letter-spacing);
  color: var(--color-neutral-700);
}

.cart-order-summary__shipping .dropin-skeleton {
  grid-template-columns: 1fr;
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
