/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-login-form__heading {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-auto-rows: max-content;
}

.checkout-login-form__content {
  grid-auto-rows: max-content;
}

.checkout-login-form__customer-details {
  display: grid;
  grid-auto-flow: row;
  gap: var(--spacing-xxsmall);
}

.checkout-login-form__customer-name {
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}

.checkout-login-form__customer-email {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  color: var(--color-neutral-700);
}

.checkout-login-form__title {
  grid-column-start: 1;
  color: var(--color-neutral-800);
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  margin: 0 0 var(--spacing-medium) 0;
}

.checkout-login-form__sign-in,
.checkout-login-form__sign-out {
  grid-column-start: 2;
  color: var(--color-neutral-800);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  justify-self: flex-end;
  margin-top: var(--spacing-xxsmall);
}

a.checkout-login-form__link {
  font: var(--type-body-2-strong-font);
  margin-left: var(--spacing-xxsmall);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .checkout-login-form__heading {
    grid-template-columns: repeat(1, 1fr [col-start]);
    grid-template-rows: 1fr;
  }

  .checkout-login-form__sign-in,
  .checkout-login-form__sign-out {
    grid-column-start: 1;
    align-self: flex-start;
    justify-self: flex-start;
    margin-top: 0;
    margin-bottom: var(--spacing-medium);
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */
