/* https://cssguidelin.es/#bem-like-naming */

.order-confirmation-header {
  text-align: center;
  padding: var(--spacing-xxbig);
}

.order-confirmation-header__icon {
  margin-bottom: var(--spacing-small);
}

.order-confirmation-header__title {
  color: var(--color-neutral-800);
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  margin: 0;
}

.order-confirmation-header__title:first-letter {
  text-transform: uppercase;
}

.order-confirmation-header__order {
  color: var(--color-neutral-700);
  font: var(--type-details-overline-font);
  letter-spacing: var(--type-details-overline-letter-spacing);
  margin: var(--spacing-xxsmall) 0 0 0;
}

.order-confirmation-header .success-icon {
  color: var(--color-positive-500);
}

.order-confirmation-create-account {
  display: grid;
  gap: var(--spacing-small);
  margin-top: var(--spacing-large);
}

.order-confirmation-create-account__message {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  margin: 0;
}

.order-confirmation-create-account__button {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
