/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-out-of-stock.dropin-card    {
  border-color: var(--color-warning-500);
}
.checkout-out-of-stock .dropin-card__content {
  gap: var(--spacing-small);
  padding: var(--spacing-small);
}

.checkout-out-of-stock__title {
  color: var(--color-neutral-900);
  font: var(--type-body-2-strong-font);
  margin: 0;
  display: flex;
  gap: var(--spacing-xxsmall);
  align-items: center;
  justify-content: left;
  text-align: center;
}

.checkout-out-of-stock__message {
  color: var(--color-neutral-800);
  font: var(--type-body-2-default-font);
  margin: 0;
}

.checkout-out-of-stock__items {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: var(--spacing-small);
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkout-out-of-stock__item img {
  width: 100%;
  height: auto;
}

.checkout-out-of-stock__actions {
  display: flex;
  gap: var(--spacing-small);
  justify-content: flex-end;
}

a.checkout-out-of-stock__action {
  font: var(--type-details-caption-1-font);
}

.checkout-out-of-stock__action {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.checkout-out-of-stock__action:hover {
  --textColor: var(--color-brand-700);
  text-decoration: solid underline var(--textColor);
  text-underline-offset: 6px;
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
