/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-payment-methods__title {
  font: var(--type-headline-2-default-font);
  letter-spacing: var(--type-headline-2-default-letter-spacing);
  margin: 0 0 var(--spacing-medium) 0;
}

.checkout-payment-methods__wrapper {
  position: relative;
  display: grid;
}

.checkout-payment-methods__methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-medium);
}

.checkout-payment-methods__content {
  margin-top: var(--spacing-medium);
}

.checkout-payment-methods--full-width {
  grid-template-columns: 1fr;
}

/* Loading */
.checkout-payment-methods--loading {
  opacity: 0.4;
  pointer-events: none;
}

.checkout-payment-methods__spinner {
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: calc(50% - (var(--size) / 2));
  bottom: 0;
}

.checkout__content [data-slot="PaymentMethods"]:empty {
  display: none;
}

/*********** Media queries ***********/
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .checkout-payment-methods__methods {
    grid-template-columns: 1fr;
  }
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
