/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-place-order {
  display: grid;
  padding-bottom: var(--spacing-big);
}

.checkout-place-order__button {
  align-self: flex-end;
  justify-self: flex-end;
}

@media only screen and (min-width:320px) and (max-width: 768px) {
  .checkout-place-order {
    background-color: var(--color-neutral-200);
    padding: var(--spacing-medium) var(--spacing-medium) var(--spacing-big) var(--spacing-medium);
  }

  .checkout-place-order__button {
    align-self: center;
    justify-self: stretch;
  }
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
