/********************************************************************
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2024 Adobe
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe and its suppliers, if any. The intellectual
* and technical concepts contained herein are proprietary to Adobe
* and its suppliers and are protected by all applicable intellectual
* property laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe.
*******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.checkout-shipping-methods__title {
  color: var(--color-neutral-800);
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  margin: 0 0 var(--spacing-medium) 0;
}

.checkout-shipping-methods__content {
  position: relative;
  display: block;
}

.checkout-shipping-methods__method {
  margin-bottom: var(--spacing-medium);
  width: fit-content;
  cursor: pointer;
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

.checkout-shipping-methods__method:last-child {
  margin-bottom: 0;
}

.dropin-radio-button__label .dropin-price {
  color: var(--color-neutral-800);
  font-weight: normal;
}

/* Loading */
.checkout-shipping-methods__options--loading {
  opacity: 0.4;
  pointer-events: none;
}

.checkout-shipping-methods__spinner {
  margin: 0 auto;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: calc(50% - (var(--size) / 2));
  bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { } */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) { } */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) { } */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) { } */
