/* https://cssguidelin.es/#bem-like-naming */

.cart-cart {
  container-type: inline-size;
  container-name: cart;
}

.cart-cart__wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: var(--spacing-medium);
}

.cart-cart__heading {
  display: grid;
  row-gap: var(--spacing-xsmall);
  padding: var(--spacing-medium);
  padding-bottom: 0px;
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  color: var(--color-neutral-800);
}

.cart-cart__heading-divider {
  width: 100%;
  margin: var(--spacing-xxsmall) 0 0 0;
}

.cart-cart__content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 var(--spacing-medium);
}

.cart-cart__empty-cart {
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 800px;
}

.cart-cart__price-summary {
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--color-neutral-200);
}

.dropin-price-summary__shipping--zip,
.dropin-price-summary__shipping--state {
  background-color: var(--color-neutral-50);
}

@container cart (width >= 1024px) {
  .cart-cart__wrapper {
    grid-template-columns: repeat(var(--grid-3-columns), 1fr);
    grid-column-gap: var(--grid-3-gutters);
    margin: 0 var(--grid-3-margins);
  }

  .cart-cart__heading {
    padding: var(--spacing-medium) 0 0 0;
  }

  .cart-cart__content {
    padding: 0px;
  }

  .cart-cart__heading,
  .cart-cart__content {
    grid-column: 1 / span 8;
  }

  .cart-cart__price-summary {
    grid-row: 1 / span 3;
    grid-column: 9 / span 4;
    padding: var(--spacing-medium);
    height: min-content;
  }

  .cart-cart__heading--full-width,
  .cart-cart__content--empty,
  .cart-cart__content--full-width {
    grid-column: 1 / span 12;
  }
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
