/* https://cssguidelin.es/#bem-like-naming */

.cart-empty-cart {
  container-type: inline-size;
  container-name: cart;
}

.cart-empty-cart__wrapper .dropin-card--secondary {
  display: grid;
  grid-auto-rows: min-content;
  justify-content: center;
  text-align: center;
}

@container cart (width < 737px) {
  .cart-empty-cart__wrapper .dropin-card {
    border: unset;
    border-style: hidden;
  }
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
