/* https://cssguidelin.es/#bem-like-naming */

.order-customer-details-content .dropin-card__content {
  gap: 0;
}

.order-customer-details-content__container {
  display: block;
  flex-direction: column;
}

.order-customer-details-content__container-shipping_address {
  margin: var(--spacing-medium) 0;
}

.order-customer-details-content__container-billing_address {
  margin: var(--spacing-medium) 0;
}

@media (min-width: 768px) {
  .order-customer-details-content__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
  }

  .order-customer-details-content__container-email {
    grid-area: 1 / 1 / 2 / 2;
  }

  .order-customer-details-content__container--no-margin p {
    margin-bottom: 0  ;
  }

  .order-customer-details-content__container-shipping_address {
    grid-area: 2 / 1 / 3 / 2;
    margin: var(--spacing-medium) 0;
  }

  .order-customer-details-content__container-billing_address,
  .order-customer-details-content__container-return-information {
    grid-area: 2 / 2 / 3 / 3;
    margin: var(--spacing-medium) 0;
  }

  .order-customer-details-content__container-billing_address--fullwidth {
    grid-area: 2 / 1 / 3 / 3;
  }

  .order-customer-details-content__container-shipping_methods {
    grid-area: 3 / 1 / 4 / 2;
  }

  .order-customer-details-content__container-payment_methods {
    grid-area: 3 / 2 / 4 / 3;
  }

  .order-customer-details-content__container-payment_methods--fullwidth {
    grid-area: 3 / 1 / 4 / 3;
  }
}

.order-customer-details-content__container-title {
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  margin: 0 0 var(--spacing-xsmall) 0;
}

.order-customer-details-content__container p {
  color: var(--color-neutral-800);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  margin-top: 0;
}

.order-customer-details-content__container-payment_methods p {
  display: grid;
  gap: 0;
  grid-template-columns: auto 1fr;
}

.order-customer-details-content__container-payment_methods
  p.order-customer-details-content__container-payment_methods--icon {
  gap: 0 var(--spacing-xsmall);
}

.order-customer-details-content__container-description p {
  margin: 0 var(--spacing-xsmall) 0 0;
  line-height: var(--spacing-big);
  padding: 0;
}

.order-customer-details-content__container-description p:nth-child(1),
.order-customer-details-content__container-description p:nth-child(3),
.order-customer-details-content__container-description p:nth-child(4),
.order-customer-details-content__container-description p:nth-child(6) {
  float: left;
}

.order-customer-details-content__container-return-information
  .order-customer-details-content__container-description
  p {
  float: none;
  display: block;
}