.order-order-product-list-content {
}

.order-order-product-list-content__items {
  display: grid;
  gap: var(--spacing-medium);
  list-style: none;
  margin: 0 0 var(--spacing-medium) 0;
  padding: 0;
}

.order-order-product-list-content .dropin-card__content {
  gap: 0;
}

.order-order-product-list-content__items .dropin-card__content {
  gap: var(--spacing-xsmall);
}

.order-order-product-list-content .dropin-cart-item__alert {
  margin-top: var(--spacing-xsmall);
}

.order-order-product-list-content .cart-summary-item__title--strikethrough {
  text-decoration: line-through;
  color: var(--color-neutral-500);
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}

/* Medium (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .order-confirmation-cart-summary-item {
    margin-bottom: var(--spacing-medium);
  }
}