/* https://cssguidelin.es/#bem-like-naming */

.order-order-status-content .dropin-card__content {
  gap: 0;
}

.order-order-status-content__wrapper
  .order-order-status-content__wrapper-description
  p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}

.order-order-status-content__wrapper-description {
  margin-bottom: var(--spacing-medium);
}

.order-order-status-content__wrapper-description--actions-slot {
  margin-bottom: 0;
}