.order-order-cancel__modal {
  margin: auto;
}

.order-order-cancel__modal .dropin-modal__header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.order-order-cancel__title {
  color: var(--color-neutral-900);
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.order-order-cancel__text {
  color: var(--color-neutral-800);
  font: var(--type-details-caption-1-font);
  letter-spacing: var(--type-details-caption-1-letter-spacing);
  padding-bottom: var(--spacing-xsmall);
}

.order-order-cancel__modal .dropin-modal__header-close-button {
  align-self: center;
}

.order-order-cancel__button-container {
  display: grid;
  margin-top: var(--spacing-xbig);
  justify-content: end;
}

@media only screen and (min-width: 768px) {
  .dropin-modal__body--medium.order-order-cancel__modal > .dropin-modal__header-title {
    margin: 0 var(--spacing-xxbig) var(--spacing-medium);
  }
}