/* https://cssguidelin.es/#bem-like-naming */

.order-order-search-form {
  gap: var(--spacing-small);
  border-color: transparent;
}

.order-order-search-form .dropin-card__content {
  padding: var(--spacing-big) var(--spacing-xxbig) var(--spacing-xxbig)
    var(--spacing-xxbig);
}

.order-order-search-form p {
  color: var(--color-neutral-700);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  margin: 0;
}

.order-order-search-form__title {
  color: var(--color-neutral-800);
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  margin: 0;
}

.order-order-search-form__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'email'
    'lastname'
    'number'
    'button';
  gap: var(--spacing-medium);
}

.order-order-search-form__wrapper__item--email {
  grid-area: email;
}

.order-order-search-form__wrapper__item--lastname {
  grid-area: lastname;
}

.order-order-search-form__wrapper__item--number {
  grid-area: number;
}

.order-order-search-form__button-container {
  display: flex;
  justify-content: flex-end;
  grid-area: button;
}

.order-order-search-form form button {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: var(--spacing-small);
}

@media (min-width: 768px) {
  .order-order-search-form__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'email lastname'
      'number number'
      'button button';
  }
}