/* https://cssguidelin.es/#bem-like-naming */

.order-cost-summary-content {
}

.order-cost-summary-content .dropin-card__content {
  gap: 0;
}

.order-cost-summary-content__description {
  margin-bottom: var(--spacing-xsmall);
}

.order-cost-summary-content__description
  .order-cost-summary-content__description--header,
.order-cost-summary-content__description
  .order-cost-summary-content__description--subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-cost-summary-content__description
  .order-cost-summary-content__description--header
  span {
  color: var(--color-neutral-800);
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}

.order-cost-summary-content__description--subheader {
  margin-top: var(--spacing-xxsmall);
}

.order-cost-summary-content__description--subheader span {
  font: var(--type-details-caption-2-font);
  letter-spacing: var(--type-details-caption-2-letter-spacing);
  color: var(--color-brand-700);
}

.order-cost-summary-content__description--subtotal
  .order-cost-summary-content__description--subheader,
.order-cost-summary-content__description--shipping
  .order-cost-summary-content__description--subheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 var(--spacing-xxsmall);
}

.order-cost-summary-content__description--subtotal
  .order-cost-summary-content__description--subheader
  .dropin-price,
.order-cost-summary-content__description--shipping
  .order-cost-summary-content__description--subheader
  .dropin-price {
  font: var(--type-details-overline-font);
}

.order-cost-summary-content__description--discount
  .order-cost-summary-content__description--header
  span:last-child {
  color: var(--color-alert-800);
}

.order-cost-summary-content__description--discount
  .order-cost-summary-content__description--subheader
  span:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0 var(--spacing-xsmall);
}

.order-cost-summary-content__description--discount
  .order-cost-summary-content__description--subheader
  span:first-child
  span {
  font: var(--type-details-caption-1-font);
  letter-spacing: var(--type-details-caption-1-letter-spacing);
  color: var(--color-neutral-700);
}

.order-cost-summary-content__description--discount
  .order-cost-summary-content__description--subheader
  .dropin-price {
  font: var(--type-details-caption-1-font);
  letter-spacing: var(--type-details-caption-1-letter-spacing);
  color: var(--color-alert-800);
}

.order-cost-summary-content__description--total {
  margin-top: var(--spacing-medium);
}

.order-cost-summary-content__description--total
  .order-cost-summary-content__description--header
  span {
  font: var(--type-body-1-emphasized-font);
  letter-spacing: var(--type-body-1-emphasized-letter-spacing);
}

.order-cost-summary-content__accordion
  .dropin-accordion-section
  .dropin-accordion-section__content-container {
  gap: var(--spacing-small);
  margin: var(--spacing-small) 0;
}

.order-cost-summary-content__accordion-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-cost-summary-content__accordion-row p {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
}

.order-cost-summary-content__accordion-row p:first-child {
  color: var(--color-neutral-700);
}

.order-cost-summary-content__accordion
  .order-cost-summary-content__accordion-row.order-cost-summary-content__accordion-total
  p:first-child {
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}