/* https://cssguidelin.es/#bem-like-naming */

.order-return-order-message p {
  margin: 0;
  padding: 0;
}

.order-return-order-message a {
  max-width: 162px;
  padding: var(--spacing-xsmall);
}

.order-return-order-message .order-return-order-message__title {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  color: var(--color-neutral-800);
  margin-bottom: var(--spacing-small);
}

.order-return-order-message .order-return-order-message__subtitle {
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  margin-bottom: var(--spacing-xlarge);
}