/* https://cssguidelin.es/#bem-like-naming */

.order-returns-list-content .order-returns__header--minified {
  margin-bottom: var(--spacing-small);
}

.order-returns-list-content .order-returns__header--full-size {
  margin-bottom: 0;
}

.order-returns-list-content__cards-list {
  margin-bottom: var(--spacing-small);
}

.order-returns-list-content__cards-list .dropin-card__content {
  gap: 0;
}

.order-returns-list-content__cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'descriptions descriptions actions'
    'images images actions';
}

.order-returns-list-content__descriptions {
  grid-area: descriptions;
}

.order-returns-list-content__descriptions p {
  margin: 0 0 var(--spacing-small) 0;
  padding: 0;
  box-sizing: border-box;
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  color: var(--color-neutral-800);
}

.order-returns-list-content__descriptions p a {
  display: inline-block;
  font: var(--type-button-2-font);
  letter-spacing: var(--type-button-2-letter-spacing);
  color: var(--color-brand-800);
}

.order-returns-list-content__descriptions p a:hover {
  color: var(--color-brand-800);
}

.order-returns-list-content__descriptions
  .order-returns-list-content__return-status {
  font: var(--type-button-2-font);
  font-weight: 500;
  color: var(--color-neutral-800);
}

.order-returns-list-content .order-returns-list-content__actions {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.order-returns-list-content .order-returns-list-content__actions:hover {
  text-decoration: none;
  color: var(--color-brand-500);
}

.order-returns-list-content__card .dropin-card__content {
  padding: var(--spacing-small) var(--spacing-medium);
}

.order-returns-list-content__card .order-returns-list-content__card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-neutral-800);
  height: calc(88px - var(--spacing-small) * 2);
}

.order-returns-list-content__card-wrapper > p {
  font: var(--type-button-2-font);
  letter-spacing: var(--type-button-2-letter-spacing);
}

.order-returns-list-content__card-wrapper svg {
  color: var(--color-neutral-800);
}

.order-returns-list-content__images {
  margin-top: var(--spacing-small);
  grid-area: images;
}

.order-returns-list-content__actions {
  grid-area: actions;
  align-self: center;
}

.order-returns-list-content .order-returns-list-content__images {
  overflow: auto;
}

.order-returns-list-content
  .order-returns-list-content__images
  .dropin-content-grid__content {
  grid-template-columns: repeat(6, max-content) !important;
}

.order-returns-list-content
  .order-returns-list-content__images-3
  .dropin-content-grid__content {
  grid-template-columns: repeat(3, max-content) !important;
}

.order-returns-list-content .order-returns-list-content__images img {
  object-fit: contain;
  width: 85px;
  height: 114px;
}