/* https://cssguidelin.es/#bem-like-naming */

.order-create-return .order-create-return_notification {
  margin-bottom: var(--spacing-medium);
}

.order-return-order-product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-return-order-product-list .order-return-order-product-list__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  margin-bottom: var(--spacing-medium);
  position: relative;
}

.order-return-order-product-list__item--blur::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-opacity-24);
  z-index: 1;
}

.order-return-order-product-list
  > .order-return-order-product-list__item:last-child {
  display: flex;
  justify-content: flex-end;
}

.order-return-order-product-list
  > .order-return-order-product-list__item
  .dropin-cart-item__alert {
  margin-top: var(--spacing-xsmall);
}

.order-return-order-product-list
  > .order-return-order-product-list__item
  .cart-summary-item__title--strikethrough {
  text-decoration: line-through;
  color: var(--color-neutral-500);
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}

.order-create-return
  .dropin-cart-item__footer
  .dropin-incrementer.dropin-incrementer--medium {
  max-width: 160px;
}

.order-return-order-product-list .dropin-incrementer__button-container {
  margin: 0;
}

/* Medium (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .order-return-order-product-list > .order-return-order-product-list__item {
    margin-bottom: var(--spacing-medium);
  }
}