/* https://cssguidelin.es/#bem-like-naming */

.order-shipping-status-card .dropin-card__content {
  gap: 0;
}

.order-shipping-status-card--count-steper {
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}

.order-shipping-status-card__header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: self-start;
  align-items: center;
  margin-bottom: var(--spacing-xsmall);
}

.order-shipping-status-card__header button {
  max-height: 40px;
}

.order-shipping-status-card__header--content p,
.order-shipping-status-card--return-order p {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  margin-bottom: var(--spacing-xsmall);
}

.order-shipping-status-card--return-order p a {
  display: inline-block;
  font: var(--type-button-2-font);
  letter-spacing: var(--type-button-2-letter-spacing);
  color: var(--color-brand-800);
}

.order-shipping-status-card--return-order p a:hover {
  text-decoration: none;
  color: var(--color-brand-800);
}

.order-shipping-status-card
  .order-shipping-status-card__images
  .dropin-content-grid__content {
  grid-template-columns: repeat(6, max-content) !important;
}

.order-shipping-status-card.order-shipping-status-card--return-order
  .dropin-content-grid.order-shipping-status-card__images {
  overflow: auto !important;
}

.order-shipping-status-card .order-shipping-status-card__images img {
  object-fit: contain;
  width: 85px;
  height: 114px;
}