---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Customize the PDP Dropin',
    description: 'Learn how to customize the PDP dropin.',
    tableOfContents: false,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/videos/customize-pdp.astro',
  }}
  sidebar={[
    {
      label: 'Training Videos',
      items: [
        { label: 'Overview', href: '/videos/' },
        { label: 'Customize the PDP', href: '/videos/customize-pdp/' },
        // { label: 'Customize the Cart', href: '/videos/customize-cart/' },
        // { label: 'Customize the Checkout', href: '/videos/customize-checkout/' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <p>In this video you will learn how to customize the PDP dropin.</p>
</StarlightPage>
