---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Customize the Checkout Dropin',
    description: 'Learn how to customize the Checkout dropin.',
    tableOfContents: false,
    editUrl: 'https://github.com/commerce-docs/microsite-commerce-storefront/edit/develop/',
  }}
  sidebar={[
    {
      label: 'Training Videos',
      items: [
        { label: 'Customize the PDP', href: '/videos/customize-pdp/', badge: 'Stub' },
        { label: 'Customize the Cart', href: '/videos/customize-cart/', badge: 'Stub' },
        { label: 'Customize the Checkout', href: '/videos/customize-checkout/', badge: 'Stub' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <p>In this video you will learn how to customize the PDP dropin.</p>
</StarlightPage>
