/* https://cssguidelin.es/#bem-like-naming */

.wishlist-empty-wishlist {
  container-type: inline-size;
  container-name: wishlist;
}

.wishlist-empty-wishlist__wrapper .dropin-card--secondary {
  display: grid;
  grid-auto-rows: min-content;
  justify-content: center;
  text-align: center;
  border: unset;
}

.wishlist-empty-wishlist .dropin-illustrated-message__heading {
  font: var(--type-headline-1-font);
}

.wishlist-empty-wishlist .dropin-illustrated-message__message {
  font: var(--type-body-1-default-font);
}

@container wishlist (width < 737px) {
  .wishlist-empty-wishlist__wrapper .dropin-card {
    border: unset;
    border-style: hidden;
  }
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
