/********************************************************************
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2025 Adobe
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 *******************************************************************/

.image-carousel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding: var(--spacing-medium);
}

.image-carousel .image-carousel-image {
  object-fit: contain;
  padding: var(--spacing-xxsmall) 0;
  width: 100%;
}

.image-switcher-area {
  margin-top: var(--spacing-small);
  text-align: center;
  width: 100%;
}

.image-switcher-area .image-switcher {
  cursor: pointer;
  border-radius: 50%;
  display: inline-flex;
  height: var(--spacing-xsmall);
  margin: 0 var(--spacing-xxsmall);
  width: var(--spacing-xsmall);
}

.image-switcher-area .image-switcher-active {
  background-color: var(--color-neutral-900);
  border: var(--shape-border-width-1) solid var(--color-brand-700);
}

.image-switcher-area .image-switcher-inactive {
  background-color: var(--color-neutral-600);
  border: var(--shape-border-width-1) solid var(--color-neutral-600);
}

/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
  .image-carousel {
    gap: var(--spacing-xxsmall);
  }

  .image-carousel .image-carousel-image {
    height: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .image-carousel {
    gap: var(--spacing-xsmall);
  }

  .image-carousel .image-carousel-image {
    height: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .image-carousel {
    gap: var(--spacing-xsmall);
  }

  .image-carousel .image-carousel-image {
    height: 300px;
  }
}

/* Medium (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  .image-carousel {
    gap: var(--spacing-small);
  }

  .image-carousel .image-carousel-image {
    height: 350px;
  }
}

/* Large (landscape tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .image-carousel {
    gap: var(--spacing-medium);
  }

  .image-carousel .image-carousel-image {
    height: 400px;
  }
}

/* XLarge (laptops/desktops, 1366px and up) */

/* XXlarge (large laptops and desktops, 1920px and up) */
