/* https://cssguidelin.es/#bem-like-naming */

.wishlist-login__sign-in {
  grid-column-start: 2;
  color: var(--color-neutral-800);
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  margin-top: var(--spacing-xxsmall);
  text-align: center;
}

a.wishlist-login__link {
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  margin-left: var(--spacing-xxsmall);
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  color: var(--color-neutral-800);
}

a.wishlist-login__link:hover {
  color: var(--color-neutral-800);
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
}
