/********************************************************************
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2025 Adobe
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 *******************************************************************/

/* https://cssguidelin.es/#bem-like-naming */

.wishlist-product-item {
  background-color: var(--color-neutral-50);
  margin-bottom: var(--spacing-small)
}

.wishlist-product-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.wishlist-product-item__content .wishlist-product-item-image {
  background: var(--color-neutral-200);
  height: 100%;
  padding: 0;
  width: 100%;
}

.wishlist-product-item__content .wishlist-product-item__title {
  color: var(--color-neutral-800);
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  margin: 0;
  position: relative;
}

.wishlist-product-item-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}

a.wishlist-product-item-name:active,
a.wishlist-product-item-name:hover,
a.wishlist-product-item-name {
  color: var(--color-neutral-800);
  cursor: pointer;
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
}


.wishlist-product-item__content .wishlist-product-item-button__remove {
  position: absolute;
  right: 0;
  top: -10px;
}

.wishlist-product-item__content .wishlist-product-item-options {
  font: var(--type-body-2-default-font);
}

.wishlist-product-item__content .wishlist-product-item-option__attribute {
  text-transform: capitalize;
}

.wishlist-product-item__content .wishlist-product-item-option__label {
  font: var(--type-body-2-strong-font);
}

.wishlist-product-item__content .wishlist-product-item-price {
  display: inline;
  font: var(--type-body-2-default-font);
}

.strikeout {
  text-decoration: line-through;
}

.wishlist-product-item__content .wishlist-product-item-discounted-price {
  display: inline;
  margin-left: var(--spacing-xsmall);
  color: var(--color-alert-800);
}

.wishlist-product-item-move-to-cart {
  display: grid;
  grid-area: product-add-to-cart;
  justify-content: end;
}

.wishlist-product-item-tax {
  color: var(--color-neutral-500);
}

.wishlist-product-item-tax span {
  margin-right: var(--spacing-xsmall);
}
