/********************************/
/* Badge overrides             */
/********************************/

.sl-badge {
  display: inline-block;
  border: 1px solid var(--sl-color-border-badge);
  border-radius: 0.25rem;
  font-size: var(--sl-text-xs);
  font-weight: 400;
  line-height: 1;
  color: var(--sl-color-white);
  background-color: var(--sl-color-bg-badge);
  overflow-wrap: anywhere;
  padding: 0.2rem 0.35rem;
  margin-left:0.25rem;
  font-size: 14px;
  font-family: var(--sl-font);
}

.outline {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: currentColor;
  color: inherit;
}

.default {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: var(--sl-color-accent);
  color: var(--sl-color-accent);
}

.note.note {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: var(--sl-color-blue-high);
  color: var(--sl-color-blue-high);
}

.danger.danger {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: var(--sl-color-red-high);
  color: var(--sl-color-red-high);
}

.success.success {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: var(--sl-color-green-high);
  color: var(--sl-color-green-high);
}

.caution.caution {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: var(--sl-color-orange-high);
  color: var(--sl-color-orange-high);
}

.tip.tip {
  --sl-color-bg-badge: transparent;
  --sl-color-border-badge: var(--sl-color-purple-high);
  color: var(--sl-color-purple-high);
}

:global([data-theme='light']) .default {
  --sl-color-bg-badge: var(--sl-color-accent-high);
  font-family: var(--sl-font-system);
}

:global([data-theme='light']) .note {
  --sl-color-bg-badge: var(--sl-color-blue-high);
}

:global([data-theme='light']) .danger {
  --sl-color-bg-badge: var(--sl-color-red-high);
}

:global([data-theme='light']) .success {
  --sl-color-bg-badge: var(--sl-color-green-high);
}

:global([data-theme='light']) .caution {
  --sl-color-bg-badge: var(--sl-color-orange-high);
}

:global([data-theme='light']) .tip {
  --sl-color-bg-badge: var(--sl-color-purple-high);
}
