:root,
::backdrop {
  /* Colors (dark mode) */
  --sl-color-gray-1: hsl(230, 20%, 94%);
  --sl-color-gray-3: #888c96;
  --sl-color-gray-6: #23262f;
  --sl-color-gray-8: #0a0a0a;
  --sl-color-black: hsl(0, 0%, 10%);

  --sl-color-banner-bg: #eb1000;
  --sl-color-purple-brand: #4a154b;

  --sl-color-accent-low: hsl(214, 54%, 20%);
  --sl-color-accent: hsl(214, 100%, 60%);
  --sl-color-accent-high: hsl(214, 100%, 85%);

  --sl-hue-red: 345;
  --sl-color-red-low: hsl(var(--sl-hue-red), 39%, 22%);
  --sl-color-red: hsl(var(--sl-hue-red), 60%, 40%);
  --sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

  --sl-hue-purple: 281;
  --sl-color-purple-low: hsla(var(--sl-hue-purple), 39%, 22%, 0.1);
  --sl-color-purple: hsla(var(--sl-hue-purple), 82%, 63%, 0.8);
  --sl-color-purple-high: hsla(var(--sl-hue-purple), 82%, 89%, 0.8);

  --sl-hue-blue: 224;
  --sl-color-blue-low: hsla(var(--sl-hue-blue), 54%, 20%, 0.1);
  --sl-color-blue: hsla(var(--sl-hue-blue), 100%, 60%, 0.8);
  --sl-color-blue-high: hsla(var(--sl-hue-blue), 100%, 87%, 0.8);

  /* DARK Vocabulary backgroud */
  --sl-color-vocab: #eb100015;

  --sl-color-discord: #bda6ed;

  --sl-color-bg-inline-code: hsla(0, 0%, 18%, 0.651);

  --sl-color-yellow-low: #7e710c;
  --sl-color-yellow: #ffc402;

  --sl-color-pink-low: #691b4b;
  --sl-color-pink: #ff9edf;

  --sl-hue-orange: 41;
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 49%, 22%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
  --sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);

  --sl-hue-green: 121;
  --sl-color-green-low: hsl(var(--sl-hue-green), 30%, 18%);
  --sl-color-green: hsl(var(--sl-hue-green), 80%, 23%);
  --sl-color-green-high: hsl(var(--sl-hue-green), 40%, 53%);

  --sl-color-bg-nav: var(--sl-color-gray-6);
  --sl-color-bg-sidebar: var(--sl-color-gray-6);

  --sl-color-banner-text: #ffffff;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-text-invert: var(--sl-color-black);
  --sl-color-vocab: #fff4f4;
  --sl-color-discord: #805ad5;

  /* Colours (light mode) */
  --sl-color-white: hsl(0, 0%, 5%);
  --sl-color-gray-5: rgb(193, 195, 200);
  --sl-color-gray-6: #edeef3;
  --sl-color-gray-7: #f7f7f7;
  --sl-color-gray-8: #fafafa;

  --sl-hue-blue: 224;
  --sl-color-accent-high: hsla(var(--sl-hue-blue), 75%, 45%, 0.8);
  --sl-color-accent: hsla(var(--sl-hue-blue), 93%, 48%, 0.8);
  --sl-color-accent-low: hsla(var(--sl-hue-blue), 100%, 60%, 0.1);

  --sl-color-red-high: hsl(var(--sl-hue-red), 80%, 30%);
  --sl-color-red: hsl(var(--sl-hue-red), 60%, 60%);
  --sl-color-red-low: hsl(var(--sl-hue-red), 80%, 90%);

  --sl-color-purple-high: hsla(var(--sl-hue-purple), 90%, 30%, 0.8);
  --sl-color-purple: hsla(var(--sl-hue-purple), 90%, 60%, 0.8);
  --sl-color-purple-low: hsla(var(--sl-hue-purple), 80%, 90%, 0.8);

  --sl-color-blue-high: hsla(var(--sl-hue-blue), 80%, 30%, 0.8);
  --sl-color-blue: hsla(var(--sl-hue-blue), 90%, 60%, 0.8);
  --sl-color-blue-low: hsla(var(--sl-hue-blue), 88%, 93%, 0.8);

  --sl-color-yellow-low: #fffad1;
  --sl-color-yellow: #ffd341;

  --sl-color-pink-low: hsl(323, 100%, 95%);
  --sl-color-pink: hsl(320, 100%, 81%);

  --sl-color-orange-high: hsl(var(--sl-hue-orange), 80%, 25%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 90%, 60%);
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 88%);

  --sl-color-green-high: hsla(var(--sl-hue-green), 80%, 22%, 0.8);
  --sl-color-green: hsla(var(--sl-hue-green), 40%, 46%, 0.8);
  --sl-color-green-low: hsla(var(--sl-hue-green), 35%, 90%, 0.8);

  --sl-color-bg-inline-code: hsla(0, 0%, 95%, 0.5);

  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-bg-nav: var(--sl-color-gray-7);
  --sl-color-bg-sidebar: var(--sl-color-gray-7);

  --sl-color-accent-high: hsla(var(--sl-hue-blue), 80%, 30%, 0.8);
  --sl-color-accent: hsla(var(--sl-hue-blue), 90%, 60%, 0.8);
  --sl-color-accent-low: hsla(var(--sl-hue-blue), 88%, 90%, 0.8);

  --sl-color-banner-text: #ffffff;
  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-bg-accent: var(--sl-color-accent);
}
