:root,
::backdrop {
  /* Colors (dark mode) */
  --sl-color-gray-1: hsl(230, 20%, 94%);
  --sl-color-gray-3: #888c96;
  --sl-color-gray-6: #23262f;
  --sl-color-gray-8: #0a0a0a;
  --sl-color-black: hsl(0, 0%, 10%);

  --sl-color-banner-bg: #eb1000;
  --sl-color-purple-brand: #4a154b;

  --sl-color-accent-low: hsl(214, 54%, 20%);
  --sl-color-accent: hsl(214, 100%, 60%);
  --sl-color-accent-high: hsl(214, 100%, 85%);

  --sl-hue-blue: 224;
  --sl-color-blue-low: hsl(214, 54%, 20%);
  --sl-color-blue: hsl(214, 100%, 60%);
  --sl-color-blue-high: hsl(214, 100%, 87%);

  /* DARK Vocabulary backgroud */
  --sl-color-vocab: #eb100015;

  --sl-color-discord: #bda6ed;

  --sl-color-bg-inline-code: hsla(0, 0%, 18%, 0.651);

  --sl-color-yellow-low: #7e710c;
  --sl-color-yellow: #ffc402;

  --sl-color-pink-low: #691b4b;
  --sl-color-pink: #ff9edf;

  --sl-hue-orange: 41;
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 49%, 22%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
  --sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);

  --sl-hue-green: 121;
  --sl-color-green-low: hsl(var(--sl-hue-green), 30%, 18%);
  --sl-color-green: hsl(var(--sl-hue-green), 80%, 23%);
  --sl-color-green-high: hsl(var(--sl-hue-green), 40%, 53%);

  --sl-color-bg-nav: var(--sl-color-gray-6);
  --sl-color-bg-sidebar: var(--sl-color-gray-6);

  --sl-color-banner-text: #ffffff;

  /* Text size and line height */
  --sl-text-xs: 0.8125rem; /* 13px */
  --sl-text-sm: 0.9rem; /* 14.4px */
  --sl-text-base: 1rem; /* 16px */
  --sl-text-lg: 1.125rem; /* 18px */
  --sl-text-xl: 1.25rem; /* 20px */
  --sl-text-2xl: 1.5rem; /* 24px */
  --sl-text-3xl: 1.75rem; /* 28px */
  --sl-text-4xl: 2rem; /* 32px */
  --sl-text-5xl: 2.25rem; /* 36px */
  --sl-text-6xl: 3rem; /* 48px */

  --sl-text-body: var(--sl-text-base);
  --sl-text-body-sm: var(--sl-text-xs);
  --sl-text-h1: var(--sl-text-4xl);
  --sl-text-h2: var(--sl-text-2xl);
  --sl-text-h3: var(--sl-text-xl);
  --sl-text-h4: var(--sl-text-lg);
  --sl-text-h5: var(--sl-text-base);

  --sl-text-code: var(--sl-text-sm);
  --sl-text-code-sm: var(--sl-text-sm);

  --sl-line-height: 1.5;
  --sl-line-height-headings: 1.25;

  /* Fonts */
  --sl-font-system: 'Adobe Clean', adobe-clean, sans-serif;
  --sl-font: 'Adobe Clean', adobe-clean, sans-serif;
  --sl-font-system-mono: 'Courier', monospace;
  --sl-font-mono: 'Courier', monospace;
  --__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
  --__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);

  /** Key layout values */
  --sl-nav-height: 4rem;
  --sl-nav-pad-y: 2rem;
  --sl-nav-pad-x: 1.25rem;
  --sl-sidebar-width: 16rem;
  --sl-sidebar-pad-x: 1.5rem;
  --sl-content-width: 48rem;
  --sl-content-pad-x: 2rem;

  --sl-border-radius: 3px;

  --sl-color-text: var(--sl-color-gray-2);
  --sl-color-text-accent: var(--sl-color-accent-high);
  --sl-color-text-invert: var(--sl-color-accent-low);
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-text-invert: var(--sl-color-black);
  --sl-color-vocab: #fff4f4;
  --sl-color-discord: #805ad5;

  /* Colours (light mode) */
  --sl-color-white: hsl(0, 0%, 5%);
  --sl-color-gray-5: rgb(193, 195, 200);
  --sl-color-gray-6: #edeef3;
  --sl-color-gray-7: #f7f7f7;
  --sl-color-gray-8: #fafafa;

  --sl-hue-blue: 224;
  --sl-color-accent-high: hsl(var(--sl-hue-blue), 75%, 45%);
  --sl-color-accent: hsl(var(--sl-hue-blue), 93%, 48%);
  --sl-color-accent-low: hsl(var(--sl-hue-blue), 100%, 60%);

  --sl-color-blue-high: hsl(var(--sl-hue-blue), 80%, 30%);
  --sl-color-blue: hsl(var(--sl-hue-blue), 90%, 60%);
  --sl-color-blue-low: hsl(var(--sl-hue-blue), 88%, 93%);

  --sl-color-yellow-low: #fffad1;
  --sl-color-yellow: #ffd341;

  --sl-color-pink-low: #ffe8f6;
  --sl-color-pink: #ff9edf;

  --sl-color-orange-high: hsl(var(--sl-hue-orange), 80%, 25%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 90%, 60%);
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 90%, 88%);

  --sl-color-green-high: hsl(var(--sl-hue-green), 80%, 22%);
  --sl-color-green: hsl(var(--sl-hue-green), 40%, 46%);
  --sl-color-green-low: hsl(var(--sl-hue-green), 35%, 90%);

  --sl-color-bg-inline-code: hsla(0, 0%, 95%, 0.5);

  --sl-color-bg-nav: var(--sl-color-black);
  --sl-color-bg-nav: var(--sl-color-gray-7);
  --sl-color-bg-sidebar: var(--sl-color-gray-7);

  --sl-color-accent-high: hsl(var(--sl-hue-blue), 80%, 30%);
  --sl-color-accent: hsl(var(--sl-hue-blue), 90%, 60%);
  --sl-color-accent-low: hsl(var(--sl-hue-blue), 88%, 90%);

  --sl-color-banner-text: #ffffff;
  --sl-color-text-accent: var(--sl-color-accent);
  --sl-color-bg-accent: var(--sl-color-accent);
}
