.right-sidebar-panel {
  padding: 1.65rem var(--sl-sidebar-pad-x);
}

.sidebar-content {
  padding: 1.25rem 1rem 0 1.5rem;
}

ul ul li {
  margin-inline-start: -0.5rem;
}

.top-level > li + li {
  margin-top: 0.5rem;
}

@media (min-width: 50rem) {
  .top-level > li + li {
    margin-top: 1rem;
  }
}
