/* Auto Summary style */
.content-panel .sl-container .sl-markdown-content p:first-child {
  font-size: clamp(1.1rem, calc(1.1rem + 1vw), 1.5rem);
  line-height: clamp(1.75rem, calc(1.75rem + 1vw), 2.25rem);
  margin-bottom: 3rem;
  color: var(--sl-color-gray-3);
}
