.right-sidebar-panel {
  padding: 1.65rem var(--sl-sidebar-pad-x);
}

.sidebar-content {
  padding: 1.25rem 1rem 0 1.5rem;
}

ul ul li {
  margin-inline-start: -0.5rem;
}

.top-level > li + li {
  margin-top: 0.5rem;
}

.content-panel.content-panel {
  padding: 0rem 1.75rem;
  border-top: 0;
}

.sl-markdown-content.sl-markdown-content + p {
  margin-top: var(--sl-spacing-x-large);
  font-size: var(--sl-text-2xl);
  line-height: var(--sl-line-height-headings);
  color: var(--sl-color-gray-4);
}

.sl-markdown-content code:not(:where(.not-content *)) {
  background-color: var(--sl-color-bg-inline-code);
  border-radius: 3px;
  margin-block: -0.125rem;
  padding: 0.125rem 0.375rem;
  font-size: var(--sl-text-code);
}

@media (min-width: 50em) {
  :root {
    --sl-nav-height: 4rem;
    --sl-nav-pad-x: 1.5rem;
    --sl-text-h1: var(--sl-text-5xl);
    --sl-text-h2: var(--sl-text-3xl);
    --sl-text-h3: var(--sl-text-2xl);
    --sl-text-h4: var(--sl-text-xl);
  }
}

@media (min-width: 72rem) {
  :root {
    --sl-content-pad-x: 1.5rem;
    --sl-mobile-toc-height: 2rem;
  }
}
