/**************************/
/* props.css overrides */
/**************************/

/********************************/
/* Banner overrides             */
/********************************/
.sl-banner.sl-banner {
  padding: 1rem;
  font-size: 18px;
}

/********************************/
/* Sidebar navigation overrides */
/********************************/

/* Adds padding to page TOCs */
.right-sidebar-panel {
  padding: 2rem var(--sl-sidebar-pad-x);
}

/* Removes indent from group topics */
#starlight__sidebar ul ul li {
  margin-inline-start: -1rem;
}

.sidebar-content {
  height: 100%;
  min-height: -moz-max-content;
  min-height: max-content;
  padding: 1.5rem 0 1rem 1rem;
  flex-direction: column;
  /* padding-bottom: 4rem; */
  gap: 3rem;
}

/* Spacing for Navigation Summary/Groups  */
ul li details ul:last-child {
  padding-top: 0;
  padding-bottom: 0.25rem;
}

/**************************/
/* markdown.css overrides */
/**************************/

.sl-container footer .meta {
  margin-top: 1rem;
}

.sl-markdown-content :is(p) {
  font-size: 17px;
  margin-bottom: 0.5rem;
  line-height: 1.65rem;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  color: var(--sl-color-white);
  line-height: var(--sl-line-height-headings);
  font-weight: 800;
  letter-spacing: -0.02rem;
  /* margin-bottom: 0.5rem; */
}

.sl-markdown-content
  :not(h1, h2, h3, h4, h5, h6)
  + :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  margin-top: 1.25rem;
}

.sl-markdown-content :is(h3, h4, h5, h6):not(:where(.not-content *)) {
  line-height: 1rem;
  margin-top: 1rem;
}

.sl-markdown-content h2:not(:where(.not-content *)) {
  font-size: 1.65rem;
  padding-top: 0.5rem;
}

.sl-markdown-content h3:not(:where(.not-content *)) {
  font-size: 1.25rem;
  padding-top: 0.5rem;
}

.sl-markdown-content :is(h2):not(:where(.not-content *)) + p {
  margin-top: 0.25rem;
}

.sl-markdown-content :is(h3):not(:where(.not-content *)) + p {
  margin-top: 0.25rem;
}
.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
  display: block;
  max-width: 100%;
  height: auto;
}

.sl-markdown-content :is(iframe):not(:where(.not-content *)) {
  display: block;
  max-width: 100%;
  height: revert-layer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--sl-color-gray-5);
}

.sl-markdown-content a:hover:not(:where(.not-content *)) {
  color: currentColor, var(--sl-color-white);
}

.content-panel.content-panel {
  border-top: 0;
}

/* Auto Summary style */
div.sl-markdown-content > p:first-child {
  font-size: clamp(1.1rem, calc(1.1rem + 1vw), 1.5rem);
  line-height: clamp(1.75rem, calc(1.75rem + 1vw), 2.1rem);
  margin-top: -2.25rem;
  margin-bottom: 1.5rem;
  color: var(--sl-color-gray-3);
  text-wrap: pretty;

  & strong {
    color: var(--sl-color-gray-2);
  }
}

.tutorialContainer h3 {
  margin-bottom: 0;
}

.tutorialContainer.tutorialContainer h4 + p {
  margin-top: 0;
}

.sl-markdown-content
  li
  > :last-child:not(li, ul, ol):not(a, strong, em, del, span, input, :where(.not-content *)) {
  margin-bottom: 1rem;
}

strong {
  color: var(--sl-color-white);
}

/***************/
/* Code styles */
/***************/

p > code[dir='auto'] {
  background-color: var(--sl-color-bg-inline-code);
  /* background-color: inherit; */
  border-radius: var(--sl-border-radius);
  padding: 0rem 0.2rem;
  padding-bottom: 0.1rem;
  font-size: inherit;
  font-size: calc(100% - 2px);
  letter-spacing: -0.02rem;
  line-height: 0;
  border: 0.5px solid var(--sl-color-gray-4);
}

.expressive-code.expressive-code {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

p + div.expressive-code {
  margin-top: 0.75rem;
}

/**********************/
/* TOC overrides */
/**********************/

nav ul li a {
  --pad-inline: 0rem;
}

div.conceptContainer.concept > :global(details) {
  margin-left: 0.5rem;
}

header.header {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #ccc;
  background-color: var(--sl-color-black);
  box-shadow: #ccc 0 1px 4px;
}

ol li {
  margin-bottom: 0.5rem;
}

ol li:last-child {
  margin-bottom: 1rem;
}

p + details {
  margin-bottom: 1rem;
}

/* Banner Styles */

.sl-banner:where(.astro-tn4rvkd4) {
  --__sl-banner-text: var(--sl-color-banner-text, var(--sl-color-text-invert));
  padding: 1rem;
  background-color: #eb1000;
}

.sl-banner {
  --__sl-banner-text: var(--sl-color-banner-text, var(--sl-color-text-invert));
  padding: var(--sl-nav-pad-y) var(--sl-nav-pad-x);
  background-color: var(--sl-color-banner-bg, var(--sl-color-bg-accent));
  color: var(--__sl-banner-text);
  line-height: var(--sl-line-height-headings);
  text-align: center;
  text-wrap: balance;
  box-shadow: var(--sl-shadow-sm);
  font-size: var(--sl-text-base);
}

/* nav.sidebar starlight-menu-button button {
  inset-inline-end: 1.5rem;
} */

/**********************/
/* Select */
/**********************/

select {
  background-image: none;
  padding-left: 1.5rem;
}

/**********************/
/* Site body */
/**********************/

body {
  overflow-y: scroll;
}
.expressive-code.expressive-code {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.sl-markdown-content details:not(:where(.not-content *)) {
  --sl-details-border-color: var(--sl-color-gray-5);
  --sl-details-border-color--hover: var(--sl-color-text-accent);
  border-inline-start: 2px solid var(--sl-details-border-color);
  padding-inline-start: 0;
}

.sl-markdown-content details[open] > summary:not(:where(.not-content *)) {
  margin-bottom: 0;
}

.sl-markdown-content summary {
  color: var(--sl-color-white);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  margin-inline-start: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding-right: 0;
}

.sl-markdown-content summary.toggle-button {
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  color: var(--sl-color-white);
  font-family: var(--sl-font-system);
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  margin: 0;
}

select {
  background-image: none;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 0;
  background-color: transparent;
}

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: transparent;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width)
    var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: transparent;
}
