:root {
  /** Key layout values */
  --sl-nav-height: 4rem;
  --sl-nav-pad-y: 2rem;
  --sl-nav-pad-x: 1.25rem;
  --sl-sidebar-width: 17rem;
  --sl-sidebar-pad-x: 1.5rem;
  --sl-content-width: 48rem;
  --sl-content-pad-x: 2rem;

  --sl-border-radius: 3px;
}
