:root, ::backdrop  {
  /* Text size and line height */
  --sl-text-xs: 0.8125rem; /* 13px */
  --sl-text-sm: 0.9rem; /* 14.4px */
  --sl-text-base: 1rem; /* 16px */
  --sl-text-lg: 1.125rem; /* 18px */
  --sl-text-xl: 1.25rem; /* 20px */
  --sl-text-2xl: 1.5rem; /* 24px */
  --sl-text-3xl: 1.75rem; /* 28px */
  --sl-text-4xl: 2rem; /* 32px */
  --sl-text-5xl: 2.25rem; /* 36px */
  --sl-text-6xl: 3rem; /* 48px */

  --sl-text-body: var(--sl-text-base);
  --sl-text-body-sm: var(--sl-text-xs);
  --sl-text-h1: var(--sl-text-4xl);
  --sl-text-h2: var(--sl-text-2xl);
  --sl-text-h3: var(--sl-text-xl);
  --sl-text-h4: var(--sl-text-lg);
  --sl-text-h5: var(--sl-text-base);

  --sl-text-code: var(--sl-text-sm);
  --sl-text-code-sm: var(--sl-text-sm);

  --sl-line-height: 1.5;
  --sl-line-height-headings: 1.25;

  --sl-color-text: var(--sl-color-gray-2);
  --sl-color-text-accent: var(--sl-color-accent-high);
  --sl-color-text-invert: var(--sl-color-accent-low);

  /* Fonts */
  --sl-font-system: 'Adobe Clean', adobe-clean, sans-serif;
  --sl-font: 'Adobe Clean', adobe-clean, sans-serif;
  --sl-font-system-mono: 'Courier', monospace;
  --sl-font-mono: 'Courier', monospace;
  --__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
  --__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);
}
