/*
ADOBE CONFIDENTIAL
Copyright 2023 Adobe
All Rights Reserved.
NOTICE: All information contained herein is, and remains
the property of Adobe and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to Adobe
and its suppliers and are protected by all applicable intellectual
property laws, including trade secret and copyright laws.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Adobe.
*/

/* https://cssguidelin.es/#bem-like-naming */

.pdp-carousel {
  --icon-size: 32px;
  --icon-extra-padding: 8px;
  --thumb-peak: 32px;

  position: relative;
  display: flex;
  flex-direction: var(--flex-carousel);
  align-items: center;
  gap: var(--gap);
  width: var(--width);
}

.pdp-carousel--thumbnailsColumn {
  justify-content: flex-end;
  align-items: start;

}

.pdp-carousel--thumbnailsRow {
  align-items: center;
}


.pdp-carousel--arrows {
  padding-left: calc(var(--icon-size) + var(--icon-extra-padding));
  padding-right: calc(var(--icon-size) + var(--icon-extra-padding));
  width: calc(var(--width) - 2 * var(--icon-size) - 2 * var(--icon-extra-padding))
}

/* Arrows */
.pdp-carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}

.pdp-carousel__button--prev {
  left: 0;
}

.pdp-carousel__button--next {
  right: 0;
}

.pdp-carousel__button__icon--prev {
  transform: rotate(90deg);
}

.pdp-carousel__button__icon--next {
  right: 0;
  transform: rotate(-90deg);
}

/* Arrows for thumbnails case */
.pdp-carousel__button--thumbnailsColumn {
  margin: auto;
  padding: 0;
}

.pdp-carousel__button--thumbnailsRow {
  padding: 0;
}

.pdp-carousel__button__icon--thumbnailsColumn--prev {
  transform: rotate(180deg);
}

.pdp-carousel__button__icon--thumbnailsRow--prev {
  transform: rotate(90deg);
}

.pdp-carousel__button__icon--thumbnailsRow--next {
  transform: rotate(-90deg);
}

/* Wrapper */
.pdp-carousel__wrapper {
  --peak: 0px;
  scroll-padding: var(--peak);
  width: var(--total-width);
  height: var(--height);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--gap);
  -webkit-overflow-scrolling: touch;
}

/* Directions */
.pdp-carousel__wrapper--horizontal {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

/* Slides */
.pdp-carousel__slide {
  display: grid;
  grid-gap: var(--gap);
  grid-auto-columns: 1fr;
  grid-auto-rows: 100%;
  scroll-snap-align: end;
  scroll-snap-stop: always;
  flex-shrink: 0;
}

.pdp-carousel__slide--horizontal {
  grid-auto-flow: column;
  width: calc(calc(100%) - var(--peak));
}

.pdp-carousel__slide--horizontal.pdp-carousel__slide--orphan {
  width: calc((calc(100%) / var(--per-page) * var(--length)) - var(--peak) / var(--per-page) * var(--length) - var(--gap) / var(--per-page) * (var(--per-page) - var(--length)));
}

.pdp-carousel__slide > * {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.pdp-carousel__slide > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* Peak */
.pdp-carousel__wrapper--peak {
  --peak: calc(var(--spacing-medium) + var(--gap));
}

/* Scrollbar  */
.pdp-carousel__wrapper--scrollbar {
  --scroll-foreground: var(--color-neutral-600);
  --scroll-background: var(--color-neutral-400);
  scrollbar-color: var(--scroll-foreground) var(--scroll-background);
  scrollbar-width: thin;
}

.pdp-carousel__wrapper:not(.pdp-carousel__wrapper--scrollbar) {
  scrollbar-width: none;
}

.pdp-carousel__wrapper:not(
    .pdp-carousel__wrapper--scrollbar
  )::-webkit-scrollbar {
  display: none;
}

.pdp-carousel__wrapper--scrollbar::-webkit-scrollbar {
  width: 4px; /* Mostly for vertical scrollbars */
  height: 4px; /* Mostly for horizontal scrollbars */
}

.pdp-carousel__wrapper--scrollbar::-webkit-scrollbar-thumb {
  background: var(--scroll-foreground);
}

.pdp-carousel__wrapper--scrollbar::-webkit-scrollbar-track {
  background: var(--scroll-background);
}

/* Thumbnail controls container */
.pdp-carousel__controls__container--thumbnailsRow {
  --thumbnails-spacing: var(--spacing-small);
  --thumbnails-box-width: var(--spacing-xxsmall);
  --thumbnails-rest: calc(var(--thumbnails-spacing) - var(--thumbnails-box-width));
  --thumbnails-width: calc((var(--width) - 2 * var(--icon-size) - 4 * var(--thumbnails-spacing) - var(--thumb-peak) - 2 * var(--thumbnails-box-width)) / 4);
  margin-top: var(--thumbnails-rest);
  width: var(--width);
  display: flex;
}

.pdp-carousel__controls__container--thumbnailsColumn {
  --thumbnails-spacing: var(--spacing-small);
  --thumbnails-box-width: var(--spacing-xxsmall);
  --thumbnails-rest: calc(var(--thumbnails-spacing) - var(--thumbnails-box-width));
  --thumbnails-width: 100%;

  width: calc(18.6% - var(--thumbnails-rest));
  height: calc(max(var(--height), 4 * var(--thumbnails-spacing)) - 4 * var(--thumbnails-spacing));
  margin-right: var(--thumbnails-rest);
}

/* Thumbnail controls wraper */
.pdp-carousel__controls__wrapper--thumbnailsColumn {
  max-height: 100%;
  overflow-y: scroll;
}

.pdp-carousel__controls__wrapper--thumbnailsRow {
  max-width: 100%;
  overflow-x: scroll;
}

.pdp-carousel__controls--thumbnailsRow > label > span:nth-last-child(1) {
  margin-right: var(--thumbnails-box-width); /* 4px is padding*/
}

.pdp-carousel__controls__wrapper::-webkit-scrollbar {
  display: none;
}

.pdp-carousel__controls__wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Thumbnail controls group */
.pdp-carousel__controls {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xsmall);
}

.pdp-carousel__controls--thumbnailsColumn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-row-gap: var(--thumbnails-spacing);
  padding: var(--thumbnails-box-width);
}

.pdp-carousel__controls--thumbnailsRow {
  display: grid;
  grid-template-columns: repeat(var(--nr-thumbnails), 1fr);
  grid-column-gap: var(--thumbnails-spacing);
  grid-auto-rows: 1fr;
  padding: var(--thumbnails-box-width);
}

.pdp-carousel__controls__button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  background: var(--color-neutral-400);
  cursor: pointer;
}

.pdp-carousel__controls__button:hover {
  background: var(--color-neutral-500);
}

.pdp-carousel__controls__button:active,
.pdp-carousel__controls__button--active {
  background: var(--color-neutral-600);
}

.pdp-carousel__slide--last {
  width: calc(100%);
}

/* Thumbnails */
.pdp-carousel__thumbnail__container input[type='radio'] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  
}

.pdp-carousel__thumbnail__container .pdp-carousel__thumbnail__span {
  display: inline-block;
  --bg-color: var(--color-neutral-300);
  box-shadow: 0 0 0 var(--shape-border-width-1) var(--color-neutral-400);
  position: relative;
  cursor: pointer;
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: var(--thumbnails-width);
  overflow: hidden;
}

.pdp-carousel__thumbnail__content {
  width: inherit;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  overflow: hidden;
}

.pdp-carousel__thumbnail__span:hover {
  box-shadow: 0 0 0 var(--shape-border-width-3) var(--color-neutral-50),
    0 0 0 var(--shape-border-width-4) var(--color-neutral-500);
  outline: none;
}

.pdp-carousel__thumbnail__container
  input[type='radio']:not(:checked):active
  ~ .pdp-carousel-thumbnail__span {
  box-shadow: 0 0 0 var(--shape-border-width-1) var(--color-neutral-500);
  outline: none;
}

.pdp-carousel__thumbnail__container
  input[type='radio']:checked
  ~ .pdp-carousel__thumbnail__span,
.pdp-carousel__thumbnail--selected {
  box-shadow: 0 0 0 var(--shape-border-width-3) var(--color-neutral-50),
    0 0 0 var(--shape-border-width-4) var(--color-neutral-800);
}

.pdp-carousel__thumbnail__container
  input[type='radio']:checked:active
  ~ .pdp-carousel__thumbnail__span {
  box-shadow: 0 0 0 var(--shape-border-width-3) var(--color-neutral-50),
    0 0 0 var(--shape-border-width-4) var(--color-neutral-600);
}

.pdp-carousel__thumbnail__container
  input[type='radio']:focus-visible
  + .pdp-carousel__thumbnail__span {
  box-shadow: 0 0 0 var(--shape-border-width-3) var(--color-neutral-900),
    0 0 0 6px var(--color-neutral-400);
}

.pdp-carousel__thumbnail__span > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
