:root {
  /* Dropin design tokens */
  --color-brand-500: #512d6d; /* Branded Button color - AAA */
  --color-brand-600: #7434db; /* Branded Button color on hover - AAA */
  --color-brand-700: #6023c0; /* Branded Button color when selected */
  --shape-border-radius-1: 0;
  --shape-border-radius-2: 2px;
  --shape-border-radius-3: 4px; /* Default border radius for Buttons */
}
