---
import type { Props } from '@astrojs/starlight/props';

import MobileTableOfContents from 'virtual:starlight/components/MobileTableOfContents';
import TableOfContents from 'virtual:starlight/components/TableOfContents';
import CallToAction from './CallToAction.astro';

const { editUrl } = Astro.props;
---

{
  Astro.props.toc && editUrl && (
    <>
      <div class="lg:sl-hidden">
        <MobileTableOfContents {...Astro.props} />
      </div>
      <div class="right-sidebar-panel sl-hidden lg:sl-block">
        <div class="sl-container">
          <TableOfContents {...Astro.props} />
        </div>
        <div class="sl-contribute">
          <h2>Contribute</h2>
          <ul class="contribute">
            <li class="astro-gbqdos4t">
              <a href="/developer/commerce/storefront/contribute/" class="astro-gbqdos4t">
                <svg
                  aria-hidden="true"
                  class="astro-gbqdos4t astro-3zixussu"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  style="--sl-icon-size: 1em;"
                >
                  <path d="M21.17 2.06A13.1 13.1 0 0 0 19 1.87a12.94 12.94 0 0 0-7 2.05 12.94 12.94 0 0 0-7-2 13.1 13.1 0 0 0-2.17.19 1 1 0 0 0-.83 1v12a1 1 0 0 0 1.17 1 10.9 10.9 0 0 1 8.25 1.91l.12.07h.11a.91.91 0 0 0 .7 0h.11l.12-.07A10.899 10.899 0 0 1 20.83 16 1 1 0 0 0 22 15V3a1 1 0 0 0-.83-.94ZM11 15.35a12.87 12.87 0 0 0-6-1.48H4v-10c.333-.02.667-.02 1 0a10.86 10.86 0 0 1 6 1.8v9.68Zm9-1.44h-1a12.87 12.87 0 0 0-6 1.48V5.67a10.86 10.86 0 0 1 6-1.8c.333-.02.667-.02 1 0v10.04Zm1.17 4.15a13.098 13.098 0 0 0-2.17-.19 12.94 12.94 0 0 0-7 2.05 12.94 12.94 0 0 0-7-2.05c-.727.003-1.453.066-2.17.19A1 1 0 0 0 2 19.21a1 1 0 0 0 1.17.79 10.9 10.9 0 0 1 8.25 1.91 1 1 0 0 0 1.16 0A10.9 10.9 0 0 1 20.83 20a1 1 0 0 0 1.17-.79 1 1 0 0 0-.83-1.15Z" />
                </svg>{' '}
                Contribute
              </a>
            </li>
            <li class="astro-gbqdos4t">
              <a href={editUrl} class="astro-gbqdos4t">
                <svg
                  aria-hidden="true"
                  class="astro-gbqdos4t astro-3zixussu"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  style="--sl-icon-size: 1em;"
                >
                  <path d="M22 7.24a1 1 0 0 0-.29-.71l-4.24-4.24a1 1 0 0 0-1.1-.22 1 1 0 0 0-.32.22l-2.83 2.83L2.29 16.05a1 1 0 0 0-.29.71V21a1 1 0 0 0 1 1h4.24a1 1 0 0 0 .76-.29l10.87-10.93L21.71 8c.1-.1.17-.2.22-.33a1 1 0 0 0 0-.24v-.14l.07-.05ZM6.83 20H4v-2.83l9.93-9.93 2.83 2.83L6.83 20ZM18.17 8.66l-2.83-2.83 1.42-1.41 2.82 2.82-1.41 1.42Z" />
                </svg>{' '}
                Edit this page
              </a>
            </li>
          </ul>
          <CallToAction variant="sidebar" link="/developer/commerce/storefront/create/">
            Feedback
          </CallToAction>
        </div>
      </div>
    </>
  )
}

<style>
  .right-sidebar-panel {
    padding: 1rem var(--sl-sidebar-pad-x);
  }
  .sl-contribute {
    margin-top: 2rem;
    width: calc(var(--sl-sidebar-width) - 2 * var(--sl-sidebar-pad-x));
  }

  .sl-contribute ul.contribute {
    padding: 0;
    list-style: none;
    line-height: 2.25;
  }
  .sl-container {
    width: calc(var(--sl-sidebar-width) - 2 * var(--sl-sidebar-pad-x));
  }
  .right-sidebar-panel :global(h2) {
    color: var(--sl-color-white);
    font-size: var(--sl-text-h5);
    font-weight: 600;
    line-height: var(--sl-line-height-headings);
    margin-bottom: 0.5rem;
  }
  .right-sidebar-panel :global(:where(a)) {
    display: block;
    font-size: var(--sl-text-xs);
    text-decoration: none;
    color: var(--sl-color-gray-3);
    overflow-wrap: anywhere;
  }
  .right-sidebar-panel :global(:where(a):hover) {
    color: var(--sl-color-white);
  }
  @media (min-width: 72rem) {
    .sl-container {
      max-width: calc(
        (
          (
              100vw - var(--sl-sidebar-width) - 2 * var(--sl-content-pad-x) - 2 *
                var(--sl-sidebar-pad-x)
            ) * 0.25 /* MAGIC NUMBER 🥲 */
        )
      );
    }
  }
</style>
