---
import { PAGE_TITLE_ID } from '../constants';
import type { Props } from '@astrojs/starlight/props';
import Icon from './Icon.astro';

let currentUrl = new URL(Astro.request.url);
let currentLink = currentUrl.pathname.endsWith('/')
  ? currentUrl.pathname
  : `${currentUrl.pathname}/`;

let selectedSidebarGroup = Astro.props.sidebar.find(
  (group: any) =>
    Array.isArray(group.entries) && group.entries.some((entry: any) => entry.href === currentLink)
);

const { time } = Astro.props.entry.data;
---

<div>
  <div class="group">{selectedSidebarGroup ? selectedSidebarGroup.label : ''}</div>
  <div class="title">
    <h1 id={PAGE_TITLE_ID}>{Astro.props.entry.data.title}</h1>
    {
      time && (
        <div class="time-wrapper">
          <Icon name="time" size="1.65rem" label="time to complete" title="time to complete" />
          <div class="time">{time}</div>
        </div>
      )
    }
  </div>
</div>

<style>
  .time-wrapper {
    display: flex;
    align-items: center;
    color: var(--sl-color-gray-600);
    font-size: 1.2rem;
    gap: 0.25rem;
    font-style: italic;
    white-space: nowrap;
  }

  .time {
    margin-top: 0.25rem;
    font-family: var(--sl-font);
    font-size: 1.1rem;
    color: #cb361d;
  }

  .group {
    margin-left: 0.1rem;
    margin-bottom: -0.3rem;
    color: #cb361d;
    font-size: 1.1rem;
  }

  .title {
    margin-top: 0;
    margin-bottom: -2rem;
    display: flex;
    align-items: baseline;
    font-size: 32px;
    word-break: keep-all;
  }

  h1 {
    line-height: var(--sl-line-height-headings);
    font-weight: 700;
    color: var(--sl-color-white);
    padding-right: 1rem;
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 700;
    color: var(--sl-color-white);
    word-break: keep-all;
    width: fit-content;
    letter-spacing: -0.02rem;
  }

  @media (max-width: 530px) {
    .title {
    margin-top: 0;
    margin-bottom: -2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 32px;
    word-break: keep-all;
  }
  }
</style>
