---
import { PAGE_TITLE_ID } from '../constants';
import type { Props } from '@astrojs/starlight/props';
import Prerequisites from '../Prerequisites.astro';

let currentUrl = new URL(Astro.request.url);
let currentLink = currentUrl.pathname.endsWith('/')
  ? currentUrl.pathname
  : `${currentUrl.pathname}/`;

let selectedSidebarGroup = Astro.props.sidebar.find(
  (group: any) =>
    Array.isArray(group.entries) && group.entries.some((entry: any) => entry.href === currentLink)
);

const prerequisites = Astro.props.entry.data.prerequisites;
---

<div class="group">{selectedSidebarGroup ? selectedSidebarGroup.label : ''}</div>
<div class="title">
  <h1 id={PAGE_TITLE_ID}>{Astro.props.entry.data.title}</h1>
  {prerequisites && <Prerequisites prerequisites={prerequisites} />}
</div>

<style>
  .group {
    margin-top: 1.5rem;
    margin-left: 0.1rem;
    margin-bottom: -0.2rem;
    color: #cb361d;
    font-size: 1.2rem;
  }

  .title {
    margin-top: 0;
    margin-bottom: -2.25rem;
    display: flex;
    align-items: baseline;
    font-size: 32px;
  }

  h1 {
    line-height: var(--sl-line-height-headings);
    font-weight: 700;
    color: var(--sl-color-white);
    padding-top: 0.2rem;
    padding-right: 1rem;
    font-size: var(--sl-text-h1);
    line-height: var(--sl-line-height-headings);
    font-weight: 700;
    color: var(--sl-color-white);
    word-break: keep-all;
    width: fit-content;
  }
</style>
