---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import GraphiQLEditor from '@components/Graphiql/GraphiQLEditor.jsx';
---

<style is:global>
  @media (min-width: 72rem) {
    .sl-container {
      margin-inline: 0;
    }
  }

  .sl-container {
    max-width: 100%;
  }
</style>

<StarlightPage
  frontmatter={{
    title: 'GraphQL Playground',
    description: 'Explore our GraphQL API with this interactive playground.',
    tableOfContents: false,
    editUrl: 'https://github.com/commerce-docs/microsite-commerce-storefront/edit/develop/',
  }}
>
  <p>
    Use this playground to explore our Commerce GraphQL API. You can run queries to see how the API
    responds.
  </p>

  <GraphiQLEditor client:only="react" />
</StarlightPage>
