---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import GraphiQLEditor from '@components/Graphiql/GraphiQLEditor.jsx';
---

<StarlightPage
  frontmatter={{
    title: 'Commerce API Playground',
    description: 'Explore our Commerce APIs using predefined and custom queries.',
    tableOfContents: false,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/playgrounds/commerce-services.astro/',
  }}
  sidebar={[
    {
      label: 'Playgrounds',
      items: [
        // { label: 'Overview', href: '/playgrounds/' },
        { label: 'Commerce APIs', href: '/playgrounds/commerce-services/' },
        // { label: 'Commerce Boilerplate', href: '/playgrounds/commerce-boilerplate/' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <p>
    Our Commerce API playground provides a hands-on experience to learn more about our Commerce
    services. You can select the query buttons to run predefined queries, then customize them to
    explore our APIs in greater detail.
  </p>

  <GraphiQLEditor client:only="react" />
</StarlightPage>
