.stepsContainer {
  counter-reset: step;
  padding-left: 1.5rem;
  margin-left: 0.75rem !important;
  border-left: 1px solid rgba(229, 231, 235);
  overflow-wrap: break-word;
}

.steps h3 {
  counter-increment: step;
  color: rgba(15, 23, 42);
  letter-spacing: -0.015em;
  font-size: small;
}

.steps h3::before {
  display: inline-block;
  border: 6px solid;
  border-color: rgba(255, 255, 255);
  background-color: rgba(243, 244, 246);
  text-align: center;
  vertical-align: middle;
  color: rgba(122, 122, 122);
  content: counter(step);
  border-radius: 9999px;
  margin: 0 0 0 -46px;
  font-size: 1rem;
  font-weight: 400;
  height: 42px;
  width: 42px;
  line-height: 1.7rem;
}

h3 {
  font-size: 1rem;
}
