/*
ADOBE CONFIDENTIAL
Copyright 2023 Adobe
All Rights Reserved.
NOTICE: All information contained herein is, and remains
the property of Adobe and its suppliers, if any. The intellectual
and technical concepts contained herein are proprietary to Adobe
and its suppliers and are protected by all applicable intellectual
property laws, including trade secret and copyright laws.
Dissemination of this information or reproduction of this material
is strictly forbidden unless prior written permission is obtained
from Adobe.
*/

/* https://cssguidelin.es/#bem-like-naming */

.pdp-swatches {
  display: grid;
  grid-auto-flow: row;
  grid-gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
}

.pdp-swatches__field {
  display: grid;
  font: var(--type-body-2-strong-font);
  grid-auto-rows: max-content;
  gap: var(--spacing-xsmall);
}

.pdp-swatches__field__label {
  font: var(--type-details-caption-1-font);
  letter-spacing: var(--type-details-caption-1-letter-spacing);
  color: var(--color-neutral-800);
}

.pdp-swatches__options {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
