/**
 * ADOBE CONFIDENTIAL
 * __________________
 * Copyright 2024 Adobe
 * All Rights Reserved.
 * __________________
 * NOTICE: All information contained herein is, and remains
 * the property of Adobe and its suppliers, if any. The intellectual
 * and technical concepts contained herein are proprietary to Adobe
 * and its suppliers and are protected by all applicable intellectual
 * property laws, including trade secret and copyright laws.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe.
 */
 .pdp-zoom {
    cursor: zoom-in;
    overflow: hidden;
    margin: 0;
    position: relative;
  
    img {
      height: 100%;
      max-width: 100%;
      min-width: 100%;
      object-fit: contain;
      position: relative;
      transition: transform .2s;
      transform: var(--transform);
      vertical-align: middle;
      width: 100%;
    }
  
    .pdp-zoom__close-button {
      background-color: var(--color-neutral-50);
      border-radius: 50%;
      position: absolute;
      right: var(--spacing-small);
      top: var(--spacing-small);
    }
  }
  
  .pdp-zoom.pdp-zoom--zoomed {
    cursor: zoom-out;
  }
  
  .pdp-zoom.pdp-zoom--no-effects {
    cursor: default;
  }
  
  @media only screen and (max-width: 768px) {
    .pdp-zoom img {
      display: block;
      width: 100%;
      height: 100%;
      transition: transform .2s;
      transform: var(--transform);
    }
  }
  
  /* Medium (portrait tablets and large phones, 768px and up) */
  /* @media only screen and (min-width: 768px) { } */
  
  /* Large (landscape tablets, 1024px and up) */
  /* @media only screen and (min-width: 1024px) { } */
  
  /* XLarge (laptops/desktops, 1366px and up) */
  /* @media only screen and (min-width: 1366px) { } */
  
  /* XXlarge (large laptops and desktops, 1920px and up) */
  /* @media only screen and (min-width: 1920px) { } */