/* https://cssguidelin.es/#bem-like-naming */
.pdp-product {
  display: grid;
  grid-template-columns: repeat(var(--grid-1-columns), 1fr);
  grid-column-gap: var(--grid-1-gutters);
  margin: 0 var(--grid-1-margins);
}
.pdp-product__gallery-column {
  display: none;
}
.pdp-product__content-column {
  grid-column: 1 / span 4;
  color: var(--color-neutral-800);
}
.pdp-product__header {
  display: grid;
  grid-auto-rows: max-content;
  margin-bottom: var(--spacing-medium);
}
.pdp-product__breadcrumbs {
  grid-column: 1 / -1;
  padding: var(--spacing-medium) 0 var(--spacing-xxbig);
}
.pdp-product__title {
  font: var(--type-display-3-font);
  letter-spacing: var(--type-display-3-letter-spacing);
  margin: 0;
}
.pdp-product__sku {
  font: var(--type-body-1-default-font);
  max-width: 600px;
}
.pdp-product__prices {
  display: flex;
  gap: var(--spacing-xsmall);
  margin-top: var(--spacing-medium);
}
.pdp-product__out-of-stock__text {
  font: var(--type-headline-2-strong-font);
}
.pdp-product__options {
  grid-column: 1 / span 4;
}
.pdp-product__price,
.pdp-product__price-special {
  font: var(--type-headline-2-strong-font);
}

.pdp-product__price,
.pdp-product__sku,
.pdp-product__price-special,
.pdp-product__out-of-stock__text {
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
}
.pdp-product__price--grey {
  color: var(--color-neutral-500);
}
.pdp-product__actions,
.pdp-product__actions--out-of-stock {
  display: grid;
  grid-auto-flow: row;
  gap: var(--grid-1-gutters);
  grid-auto-rows: max-content;
  margin-bottom: var(--spacing-xxbig);
  margin-top: var(--spacing-big);
}
.pdp-product__short_description,
.pdp-product__attributes {
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  margin-bottom: var(--spacing-small);
}
.pdp-product__description,
.pdp-product__attributes li {
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
}
.pdp-product__attributes {
  margin-top: var(--spacing-xsmall);
}
.pdp-product__short_description p,
.pdp-product__description p,
.pdp-product__attributes li p {
  margin: 0;
}
.pdp-product__short_description figure,
.pdp-product__description figure {
  margin: 0;
}
.pdp-product__short_description img,
.pdp-product__description img {
  max-width: 100%;
}
.pdp-product__images--carousel {
  /* width: 100%; */
  max-height: 60vh;
}

.pdp-product__images--carousel--thumbnails {
  max-height: 90vh;
}

.pdp-product__images__placeholder {
  background-color: var(--color-neutral-200);
}
.pdp-product__buttons {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: var(--grid-1-gutters);
}
.pdp-product__buttons a {
  text-align: center;
}
.pdp-product__buttons a:hover {
  text-decoration: none;
}
.pdp-product__overlay .pdp-overlay__content {
  width: 100%;
  height: 100%;
}
.pdp-product__overlay__carousel {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.pdp-product__overlay__carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}
.pdp-carousel__controls__container--thumbnailsRow img,
.pdp-carousel__controls__container--thumbnailsColumn img {
  object-fit: cover;
}
/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */
.pdp-product__quantity {
  grid-column: 1 / span 4;
}
.pdp-product__buttons {
  grid-column: 1 / span 4;
}
/* Large (landscape tablets, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .pdp-product__breadcrumbs {
    grid-column: 2 / -2;
  }
  .pdp-product {
    grid-template-columns: repeat(var(--grid-3-columns), 1fr);
    grid-column-gap: var(--grid-3-gutters);
    margin: 0 var(--grid-3-margins);
    position: relative;
  }
  .pdp-product__column-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .pdp-product__column-body {
    position: sticky;
    bottom: 30%;
    align-self: flex-end;
  }
  .pdp-product__gallery-column {
    display: block;
    grid-column: 2 / span 6;
  }
  .pdp-product__content-column {
    grid-column: 8 / span 4;
    padding-top: var(--spacing-medium);
  }
  .pdp-product__images--carousel {
    display: none;
  }
  .pdp-product__header {
    margin-bottom: var(--spacing-small);
  }
  .pdp-product__actions {
    grid-template-columns: repeat(var(--grid-1-columns), 1fr);
    grid-column-gap: var(--grid-1-gutters);
    grid-row-gap: var(--spacing-xxbig);
    margin-top: var(--spacing-xxbig);
  }
  .pdp-product__quantity {
    grid-column: 1 / span 2;
  }
  .pdp-product__actions--out-of-stock {
    grid-template-columns: repeat(var(--grid-1-columns), 1fr);
    grid-column-gap: var(--grid-1-gutters);
    grid-row-gap: var(--spacing-xxbig);
    margin-top: var(--spacing-small);
  }
  .pdp-product__buttons {
    grid-column: 1 / span 4;
  }
  .pdp-product__out-of-stock__text {
    grid-column: 1 / span 2;
  }
  .pdp-product__gallery-content,
  .pdp-product__content {
    grid-column: 2 / span 6;
  }
}
/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */
/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */
