---
interface Props {
  caption?: string;
}

const { caption } = Astro.props;
---

<div>
  <h2>Big picture</h2>
  <div class="bigPicture">
    <slot />
  </div>
  <div class="caption">
    {caption}
  </div>
</div>

<style>
  .bigPicture {
    margin-bottom: 0;
    margin-top: 6px;
    padding: 8px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
    box-shadow: var(--sl-shadow-sm);
  }
  .caption.caption {
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-style: italic;
  }
</style>
