---
interface Props {
  square?: boolean;
}

const { square } = Astro.props;
const radius = square ? 0 : '99rem';
---

<div class="callouts">
  <slot />
</div>

<style is:global define:vars={{ radius }}>
  .callouts.callouts {
    column-count: 2;
    column-gap: 2rem;
    padding-top: 1rem;
    margin-left: 1rem;
    overflow-wrap: break-word;
  }

  .callouts ol {
    padding-inline-start: 0;
    margin-left: 1.25rem;
    margin-top: 0;
  }

  .callouts ol li {
    position: relative;
    padding-inline-start: calc(var(--bullet-size) + 0.5rem);
    padding-bottom: 0.25rem;
    list-style: none;
    counter-increment: list-item;
    color: var(--sl-color-gray-1);
    letter-spacing: -0.02rem;
    min-height: calc(var(--bullet-size) + var(--bullet-margin));
    break-inside: avoid-column;
  }

  .callouts ol li::before {
    --bullet-size: calc(var(--sl-line-height) * 0.85rem);
    --bullet-margin: 0.25rem;
    position: absolute;
    content: counter(list-item);
    line-height: var(--bullet-size);
    font-size: var(--sl-text-sm);
    font-weight: 700;
    text-align: center;
    color: var(--sl-color-gray-7);
    background-color: var(--sl-color-gray-2);
    border-radius: var(--radius);
    margin-left: -2rem;
    margin-right: var(--bullet-margin);
    width: var(--bullet-size);
    height: var(--bullet-size);
  }

  @media only screen and (max-width: 600px) {
    callouts {
      column-count: 1;
    }
  }
</style>
