---
interface Props {
  stagger?: boolean;
}

const { stagger = false } = Astro.props;
---

<div class:list={['card-grid', { stagger }]}><slot /></div>

<style is:global>
  .card-grid.card-grid {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 50rem) {
    .stagger {
      --stagger-height: 5rem;
      padding-bottom: var(--stagger-height);
    }

    .stagger > :global(*):nth-child(2n) {
      transform: translateY(var(--stagger-height));
    }
  }
</style>
