---
import { Code } from '@astrojs/starlight/components';

export interface Props {
  code: string;
  lang?: string;
  meta?: string;
  locale?: string;
  title?: string;
  frame?: 'none';
  mark?: string;
  ins?: string;
  del?: string;
  collapse?: string;
  collapsePreserveIndent?: true;
  showLineNumbers?: false;
  startLineNumber?: 1;
  wrap?: false;
  preserveIndent?: true;
}

const props = Astro.props;
---

<div id="code-block" class="code-block">
  <Code {...props} />
</div>

<style>
  .code-block {
    margin: 0;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
</style>
