---

---

<div class="conceptContainer concept">
  <slot />
</div>

<style>
  .conceptContainer {
    padding-left: 0.75rem;
    margin-left: 0.75rem;
    overflow-wrap: break-word;
  }
  .conceptContainer > :global(p) {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .concept > :global(h3) {
    color: var(--sl-color-white);
    font-size: 1.1rem;
    font-weight: 700;
  }

  .concept > :global(h3::before) {
    display: inline-block;
    border-color: var(--sl-color-black);
    text-align: center;
    vertical-align: baseline;
    color: #9c2113;
    content: '✻';
    border-radius: 9999px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1.3rem;
    margin-right: 5px;
    height: 1rem;
    width: 1rem;
    font-size: 1rem;
  }

  /* .concept > :global(h3::after) {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    color: #147af3;
    content: '(noun)';
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.35rem;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
  } */
</style>
