---
interface Props {
  caption?: string;
}

export const props: Props = {
  caption: '',
};

const { caption } = Astro.props;
---

<div class="diagram">
  <span><slot /></span>
  <div class="caption">{caption}</div>
</div>

<style>
  .diagram.diagram {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-4);
    box-shadow: var(--sl-shadow-sm);
    padding: 0;
    background-color: var(--sl-color-gray-6);
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .caption.caption {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-style: italic;
    line-height: normal;
    padding: 0 1rem;
    color: var(--sl-color-gray-2);
  }

  @media screen and (max-width: 600px) {
    .caption.caption {
      margin-top: 0;
      padding: 0.15rem 0.5rem;
    }
  }
</style>
