---
interface Props {
  caption?: string;
}

export const props: Props = {
  caption: '',
};

const { caption } = Astro.props;
---

<div class="diagram"><slot /></div>
<div class="caption">{caption}</div>

<style>
  .diagram {
    margin-bottom: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
    box-shadow: var(--sl-shadow-sm);
  }
  .caption.caption {
    margin-top: 0.25rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-style: italic;
    line-height: normal;
  }
</style>
