---
const response = await fetch('https://countries.trevorblades.com/', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify({
    query: `
   {
      country(code: "US") {
        name
        capital
        currency
      }
    }
    `,
  }),
});

const data = await response.json();
console.log(data);
---

<p>Name: {data.data.country.name}</p>
<p>Capital: {data.data.country.capital}</p>
<p>Currency: {data.data.country.currency}</p>
