---
import { Icons } from '@components/overrides/Icons';
import Icon from '@components/overrides/Icon.astro';

interface Props {
  href: string;
  text: string;
  icon?: keyof typeof Icons;
}

const { href, text, icon = 'external' } = Astro.props;
const isExternal = href.startsWith('https://');
---

<a
  href={href}
  target={isExternal ? '_blank' : '_self'}
  rel={isExternal ? 'noopener noreferrer' : undefined}
>
  {text}
  {
    isExternal ? (
      <span aria-hidden="true" style="margin-left: 3px;">
        <Icon name={icon} size="1.1rem" />
      </span>
    ) : (
      ''
    )
  }
</a>

<style>
  a {
    display: inline-flex;
    align-items: center;
    gap: 0;
    color: var(--color-primary);
    text-decoration: none;
  }
</style>
