---

---

<div class="listContainer list">
  <slot />
</div>

<style>
  .listContainer {
    overflow-wrap: break-word;
    padding-right: 1rem;
    border-radius: 10px;
    margin-left: -0.25rem;
  }
  .listContainer > :global(p) {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .listContainer > :global(h3) {
    margin-top: 1.25rem;
    margin-bottom: 0.2rem;
  }

  .list > :global(h3) {
    color: var(--sl-color-white);
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 0.25rem;
  }

  .list > :global(h3::before) {
    display: inline-block;
    border-color: var(--sl-color-black);
    text-align: center;
    vertical-align: sub;
    content: url(/src/components/images/adobe.svg);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    height: 0.75rem;
    width: 0.75rem;
    font-size: 1rem;
  }
</style>
