---
// import sdk from '@stackblitz/sdk';
---

<div id="embed" class="playground">
  <p>Embed will go here</p>
</div>

<style>
  .playground {
    height: 100%;
    text-align: center;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .playground #embed {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
  }

  .playground #embed > p {
    width: min(300px, 100%);
    margin: 2rem auto;
    padding: 4rem 1rem;
    border: dashed 2px #ccc;
    border-radius: 0.5em;
    font-size: 85%;
    color: #777;
  }
</style>

<script type="module">
  import sdk from '@stackblitz/sdk';

  sdk.embedProjectId('embed', 'withastro-starlight-crcsf3', {
    forceEmbedLayout: true,
    view: 'editor',
    openFile: 'README.md',
    theme: 'light',
  });
</script>
