---
import Icon from './overrides/Icon.astro';

type IconName =
  | 'github'
  | 'html'
  | 'css'
  | 'js'
  | 'node'
  | 'sharepoint'
  | 'googledrive'
  | 'sidekick'
  | 'graphql'
  | 'commerce';

interface PrerequisiteProps {
  prerequisites: Record<IconName, boolean>;
}

let { prerequisites } = Astro.props as PrerequisiteProps;
---

{
  prerequisites && (
    <div class="icons">
      {Object.keys(prerequisites).map(
        (key) =>
          prerequisites[key as IconName] && (
            <Icon name={key as IconName} size="1.5rem" label={key} title={key} />
          )
      )}
    </div>
  )
}

<style>
  .icons {
    /* border: 1px solid var(--sl-color-gray-5); */
    align-items: baseline;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    display: flex;
    gap: 0.5rem;
    margin-top: 0;
  }
</style>
