---
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="screenshotContainer">
  <img src={src} alt={alt} class="image" width="684px" height="562px" />
</div>

<style>
  .screenshotContainer {
    margin-bottom: 24px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-7);
    background-color: var(--sl-color-gray-7);
  }
  .image {
    user-select: none;
    background-color: var(--sl-color-white);
    outline-width: 1px;
    outline-color: var(--sl-color-gray-5);
    object-fit: cover;
  }
</style>
