<div class="stepsContainer steps not-content">
  <slot />
</div>

<style>
  .sl-markdown-content
    :not(a, strong, em, del, span, input, code)
    + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
  }

  .stepsContainer {
    counter-reset: step;
    padding-left: 1.5rem;
    margin-left: 0.75rem !important;
    border-left: 1px solid var(--sl-color-gray-5);
    overflow-wrap: break-word;
  }
  .stepsContainer > :global(p) {
    margin-left: 0.3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .steps > :global(h2) {
    counter-increment: step;
    color: var(--sl-color-gray-1);
    letter-spacing: -0.015em;
    font-size: 1.35rem;
    margin-top: 1.5rem;
  }

  .steps > :global(h2::before) {
    display: inline-block;
    border: 8px solid;
    border-color: var(--sl-color-black);
    background-color: #cb361d;
    text-align: center;
    vertical-align: middle;
    color: var(--sl-color-gray-7);
    content: counter(step);
    border-radius: 9999px;
    margin: -3px 8px -1px -45px;
    font-size: 1rem;
    height: 40px;
    width: 40px;
    line-height: 1.4rem;
  }
</style>
