<div class="step">
  <slot />
</div>

<style>
  .step.step > :global(h3) {
    border: 1px solid var(--sl-color-gray-5);
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem;
    padding-left: 2.5rem;
    margin-left: -1.25rem;
    background-color: var(--sl-color-gray-7);
  }

  .step.step > :global(h3::before) {
    margin-left: -4.15rem;
    margin-top: -3.25rem;
  }

  .step.tutorial > :global(p) {
    border: 1px solid var(--sl-color-gray-5);
    border-top: none;
    border-radius: 0;
    padding: 1rem;
    background-color: var(--sl-color-gray-7);
    margin: 0;
    margin-left: -1.25rem;
  }

  .step.step > :global(.tutorial:last-child) {
    border: 1px solid var(--sl-color-gray-5);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--sl-color-gray-7);
    margin-left: -1.25rem;
    margin-bottom: 1rem;
  }

  .step.step > :global(ol) {
    border: 1px solid var(--sl-color-gray-5);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 1rem;
    padding-left: 2rem;
    background-color: var(--sl-color-gray-7);
    margin-left: -1.25rem;
    margin-bottom: 2rem;
  }

  .step.step > :global(aside) {
    border-left: 1px solid var(--sl-color-gray-5);
    border-right: 1px solid var(--sl-color-gray-5);
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    padding: 1rem;
    /* padding-left: 2rem; */
    /* background-color: var(--sl-color-gray-7); */
    margin: 0;
    margin-left: -1.25rem;
  }

  .step.step > :global(.card-grid) {
    border-left: 1px solid var(--sl-color-gray-5);
    border-right: 1px solid var(--sl-color-gray-5);
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    padding: 1rem;
    background-color: var(--sl-color-gray-7);
    margin: 0;
    margin-left: -1.25rem;
  }

  .step.step > :global(.optionsTable) {
    border-left: 1px solid var(--sl-color-gray-5);
    border-right: 1px solid var(--sl-color-gray-5);
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    padding: 1rem;
    background-color: var(--sl-color-gray-7);
    margin-left: -1.25rem;
  }
</style>
