<div class="stepsContainer steps not-content">
  <slot />
</div>

<style>
  .sl-markdown-content
    :not(a, strong, em, del, span, input, code)
    + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
  }

  .stepsContainer {
    counter-reset: step;
    padding-left: 1.5rem;
    margin-left: 0.75rem !important;
    border-left: 1px solid var(--sl-color-gray-5);
    overflow-wrap: break-word;
  }
  .stepsContainer > :global(p) {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }

  .stepsContainer > :global(*) {
    margin-left: -0.25rem;
  }

  .steps > :global(h3) {
    counter-increment: step;
    color: var(--sl-color-gray-1);
    letter-spacing: -0.02rem;
    margin-top: 1.75rem;
  }

  .steps > :global(h3::before) {
    display: inline-block;
    border: 8px solid var(--sl-color-black);
    background-color: #cb361d;
    text-align: center;
    vertical-align: middle;
    color: var(--sl-color-gray-7);
    content: counter(step);
    border-radius: 9999px;
    margin-top: -0.25rem;
    margin-bottom: 0;
    margin-left: -2.4rem;
    margin-right: 0.25rem;
    font-size: 0.9rem;
    height: 2.25rem;
    width: 2.25rem;
    line-height: 1.2rem;
  }
</style>
