---

---

<div class="ac-tasks">
  <slot />
</div>

<style is:global>
  .ac-tasks.ac-tasks {
    counter-reset: task;
    padding-left: 1.5rem;
    /* border-left: 1px solid var(--sl-color-gray-5); */
    margin-bottom: 2rem;
  }
</style>
