---
import Icon from './overrides/Icon.astro';
import type { Props } from '@astrojs/starlight/props';
const { title, time } = Astro.props.entry.data;

console.log(title);
console.log(time);
---

{
  time && (
    <div class="icons">
      <Icon name="time" size="1.5rem" label={time} title={time} />
      <p>{time}</p>
    </div>
  )
}
<style>
  .icons {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }
</style>
