---
const { text = 'Default tooltip text' } = Astro.props;
---
<div class="tooltip-container" tabindex="0">
  <slot />
  <div class="tooltip-text">
    <span class="tooltip-text-content">{text}</span>
  </div>
</div>

<style>
  .tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip-text {
    visibility: hidden;
    width: 150px;
    min-width: 80px;
    max-width: 150px;
    background-color: #deebfd;
    color: #000;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    top: calc(100% + 20px); /* Adjust for arrow */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    white-space: normal;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
  }

  .tooltip-text-content {
    word-wrap: break-word;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  /* Arrow */
  .tooltip-text::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #deebfd transparent;
  }
</style>
