<div class="tutorialContainer tutorial not-content">
  <slot />
</div>

<style>
  .sl-markdown-content
    :not(a, strong, em, del, span, input, code)
    + :not(a, strong, em, del, span, input, code, :where(.not-content *)) {
    margin-top: 0rem !important;
    margin-bottom: 1rem !important;
  }

  .tutorialContainer {
    counter-reset: step;
    padding-left: 1.5rem;
    margin-left: 0.75rem !important;
    border-left: 1px solid var(--sl-color-gray-5);
    overflow-wrap: break-word;
  }
  .tutorialContainer > :global(p) {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .tutorialContainer > :global(ol) {
    padding-left: 1.1rem;
    line-height: 1.75;
  }

  .tutorialContainer > :global(*) {
    margin-left: -0.25rem;
  }

  .tutorial > :global(h3) {
    counter-increment: step;
    color: var(--sl-color-gray-1);
    letter-spacing: -0.02rem;
    margin-top: 1.75rem;
  }

  .tutorial > :global(h3::before) {
    display: inline-block;
    border: 8px solid var(--sl-color-black);
    text-align: center;
    vertical-align: middle;
    content: counter(step);
    border-radius: 99rem;
    margin-top: -0.25rem;
    margin-bottom: 0;
    margin-left: -2.55rem;
    margin-right: 0.25rem;
    font-size: 0.9rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1.4rem;
    box-shadow: inset 0 0 0 1px var(--sl-color-gray-5);

    color: var(--sl-color-gray-7);
    background-color: #cb361d;

    color: var(--sl-color-white);
    background-color: var(--sl-color-gray-6);
  }
</style>
