<div class="tutorialContainer tutorial">
  <slot />
</div>

<style>
  .tutorialContainer {
    counter-reset: step;
    padding-left: 1.5rem;
    margin-left: 0.75rem !important;
    border-left: 1px solid var(--sl-color-gray-5);
    overflow-wrap: break-word;
  }
  .tutorialContainer > :global(p) {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .tutorialContainer.tutorialContainer > :global(ol) {
    padding-left: 1.1rem;
    line-height: 1.5;
    margin-top: 0;
  }

  .tutorialContainer.tutorialContainer > :global(ul) {
    padding-left: 1.1rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  .tutorialContainer.tutorialContainer > :global(h4) {
    margin-left: -0.25rem;
  }

  .tutorialContainer.tutorialContainer > :global(*) {
    margin-left: -0.25rem;
  }

  .tutorial > :global(h3) {
    counter-increment: step;
    color: var(--sl-color-gray-1);
    letter-spacing: -0.02rem;
    margin-top: 1.75rem;
  }

  .tutorial > :global(h3::before) {
    display: inline-block;
    border: 6px solid var(--sl-color-black);
    text-align: center;
    vertical-align: middle;
    content: counter(step);
    border-radius: 99rem;
    margin-top: -0.25rem;
    margin-bottom: 0;
    margin-left: -2.55rem;
    margin-right: 0.15rem;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 1.6rem;
    /* background-color: #cb361d; */
    color: var(--sl-color-gray-2);
    background-color: var(--sl-color-gray-6);
    box-shadow: inset 0 0 0 1px var(--sl-color-gray-5);
  }
</style>
