---

---

<div class="vocabularyContainer vocabulary">
  <slot />
</div>

<style>
  .vocabularyContainer {
    overflow-wrap: break-word;
    background-color: #fff4f4;
    padding: 0.5rem;
    border-radius: 10px;
    margin-left: -0.25rem;
  }
  .vocabularyContainer > :global(p) {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .vocabularyContainer > :global(h3) {
    margin-top: 1.25rem;
    margin-bottom: 0.2rem;
  }

  .vocabulary > :global(h3) {
    color: var(--sl-color-white);
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 0.25rem;
  }

  .vocabulary > :global(h3::before) {
    display: inline-block;
    border-color: var(--sl-color-black);
    text-align: center;
    vertical-align: sub;
    color: #9c2113;
    content: url(/src/components/images/adobe.svg);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    height: 0.75rem;
    width: 0.75rem;
    font-size: 1rem;
  }

  /* .vocabulary > :global(h3::after) {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    color: #147af3;
    content: '(noun)';
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.35rem;
    font-weight: 400;
    font-style: italic;
    font-size: 13px;
  } */
</style>
