.recommendations-product-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-size-6);
    padding-bottom: var(--spacing-size-8);
    font-weight: 400;
}

/* Heading */
.recommendations-product-list__heading {
    font: var(--type-headline-1-font);
    letter-spacing: var(--type-headline-1-letter-spacing);
    color: var(--color-neutral-800);
    padding: var(--spacing-medium) 0 var(--spacing-small) 0;
}

/* Horizontal scrollable product row */
.recommendations-product-list__content {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: var(--spacing-size-6);
    scroll-snap-type: x mandatory;
    padding-bottom: var(--spacing-size-8);
}

.recommendations-product-list__content>* {
    scroll-snap-align: start;
    flex: 0 0 auto;
    min-width: 220px;
}

/* Scrollbar styling */
.recommendations-product-list__content::-webkit-scrollbar {
    height: 6px;
}

.recommendations-product-list__content::-webkit-scrollbar-thumb {
    background-color: var(--color-border-subtle);
}

/* Item card styles */
.recommendations-product-list .dropin-product-item-card {
    border: none;
}

/* Typography consistency for SKU and Price */
.dropin-product-item-card__sku,
.dropin-product-item-card__price .dropin-price--default {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
    color: var(--color-neutral-700);
    letter-spacing: var(--letter-spacing-tight);
}

/* Hover link style */
.recommendations-product-list a:hover {
    text-decoration: none;
    color: var(--color-brand-500);
    font-weight: 500;
}

/* Medium (portrait tablets and large phones, 768px and up) */
/* @media only screen and (min-width: 768px) { } */

/* Large (landscape tablets, 1024px and up) */
/* @media only screen and (min-width: 1024px) { } */

/* XLarge (laptops/desktops, 1366px and up) */
/* @media only screen and (min-width: 1366px) { } */

/* XXlarge (large laptops and desktops, 1920px and up) */
/* @media only screen and (min-width: 1920px) { } */