/* https://cssguidelin.es/#bem-like-naming */

.account-account-loaders--card-loader {
  margin-bottom: var(--spacing-small);
}

.account-account-loaders--picker-loader div:first-child {
  max-width: 200px;
}

.account-account-loaders--picker-loader div:nth-child(3) {
  max-width: 400px;
}
