/* https://cssguidelin.es/#bem-like-naming */
.account-address-form-wrapper {
  box-sizing: border-box;
  background-color: var(--color-neutral-50);
}

.account-address-form-wrapper__notification {
  margin-bottom: var(--spacing-medium);
}

.account-address-form-wrapper__title {
  color: var(--color-neutral-800);
  font: var(--type-headline-2-strong-font);
  letter-spacing: var(--type-headline-2-strong-letter-spacing);
  margin-bottom: var(--spacing-medium);
}

.account-address-form-wrapper__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0 var(--spacing-medium);
  margin-top: var(--spacing-medium);
}

.account-address-form-wrapper__buttons--empty {
  gap: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.account-address-form-wrapper__buttons button {
  min-width: 142px;
}
