/* https://cssguidelin.es/#bem-like-naming */

.account-address-card {
  margin-bottom: var(--spacing-small);
}

.account-address-card .dropin-card__content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--spacing-small) 0px;
  grid-template-areas:
    'description action'
    'labels action';
}

.account-address-card .account-address-card__action {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  cursor: pointer;
  grid-area: action;
}

.account-address-card .account-address-card__action--editbutton {
  margin-left: var(--spacing-small);
}

.account-address-card .account-address-card__action button {
  padding: 0;
}

.account-address-card .account-address-card__action button:hover {
  text-decoration: underline;
}

.account-address-card .account-address-card__description {
  grid-area: description;
  margin: 0;
  padding: 0;
}

.account-address-card .account-address-card__labels {
  display: flex;
  gap: 0 var(--spacing-xsmall);
  grid-area: labels;
}

/* General styling for address card text */
.account-address-card .account-address-card__description p {
  font: var(--type-body-1-default-font);
  letter-spacing: var(--type-body-1-default-letter-spacing);
  line-height: var(--spacing-xbig);
  color: var(--color-neutral-800);
  padding: 0;
  margin: 0 var(--spacing-xsmall) 0 0;
}

/* Styling for first two items */
.account-address-card .account-address-card__description p:nth-child(1),
.account-address-card .account-address-card__description p:nth-child(2) {
  margin: 0 var(--spacing-xsmall) var(--spacing-xsmall) 0;
  color: var(--color-neutral-800);
  font: var(--type-button-2-font);
  font-weight: 500;
  cursor: default;
}

/* Styling for line wrapping */
.account-address-card .account-address-card__description p:nth-child(1),
.account-address-card .account-address-card__description p:nth-child(3),
.account-address-card .account-address-card__description p:nth-child(4),
.account-address-card .account-address-card__description p:nth-child(6) {
  float: left;
}
