/* https://cssguidelin.es/#bem-like-naming */
.account-address-modal {
  position: relative;
  padding: var(--spacing-xbig) var(--spacing-xxbig) var(--spacing-xxbig)
    var(--spacing-xxbig);
  width: 100%;
  margin: auto;
  max-width: 721px;
}

.dropin-modal__body--medium > .dropin-modal__header-title,
.dropin-modal__body--full > .dropin-modal__header-title,
.account-address-modal .dropin-modal__content {
  margin: 0;
  align-items: center;
}

.account-address-modal .dropin-modal__header-title-content h3 {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  margin: 0;
  padding: 0;
}

.account-address-modal .account-address-modal__spinner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-neutral-200);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.account-address-modal p {
  color: var(--color-neutral-800);
  font: var(--type-body-2-strong-font);
  letter-spacing: var(--type-body-2-strong-letter-spacing);
  margin-bottom: var(--spacing-medium);
}

.account-address-modal .account-address-modal__buttons {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0 var(--spacing-small);
}
