/* https://cssguidelin.es/#bem-like-naming */
.account-addresses-header {
  margin-bottom: var(--spacing-medium);
}

.account-addresses-wrapper {
  box-sizing: border-box;
  position: relative;
}

.account-addresses-wrapper--select-view {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.account-addresses-wrapper--select-view input[type='radio'] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
}

.account-addresses-wrapper--select-view .account-addresses-wrapper__label {
  cursor: pointer;
  display: block;
  border-radius: 0;
}

.account-addresses-wrapper--select-view
  .account-addresses-wrapper__label
  .account-address-card {
  border-radius: 0;
}

.account-addresses-wrapper--select-view
  .account-addresses-wrapper__label
  .account-address-card {
  border-radius: 0;
}

.account-addresses-wrapper--select-view
  .account-addresses-wrapper__label:nth-child(2) {
  border-radius: var(--shape-border-radius-1) var(--shape-border-radius-1) 0 0;
}

.account-addresses-wrapper--select-view
  > .account-addresses-wrapper__label:nth-child(2)
  > .account-address-card {
  border-radius: var(--shape-border-radius-1) var(--shape-border-radius-1) 0 0;
}

.account-addresses-wrapper--select-view
  > .account-addresses-wrapper__label:last-child,
.account-addresses-wrapper--select-view
  > .account-addresses-wrapper__label:last-child
  > .account-actions-address.account-actions-address--address {
  border-radius: 0 0 var(--shape-border-radius-1) var(--shape-border-radius-1);
}

.account-addresses-wrapper--select-view
  .account-addresses-wrapper__label
  .account-address-card,
.account-addresses-wrapper--select-view
  .account-addresses-wrapper__label
  .account-actions-address.account-actions-address--address {
  background-color: var(--color-neutral-200);
}

.account-addresses-wrapper--select-view
input[type='radio']:checked
+ .account-addresses-wrapper__label > .account-address-card{
  border: var(--shape-border-width-1) solid var(--color-neutral-900);
  position: relative;
}

.account-addresses-wrapper--select-view
  input[type='radio']:checked
  + .account-addresses-wrapper__label > .account-addresses-form__footer__wrapper {
  border: var(--shape-border-width-1) solid var(--color-neutral-900);
  position: relative;
}

.account-addresses-wrapper--select-view
  input[type='radio']:checked
  + .account-addresses-wrapper__label
  .account-address-card,
.account-addresses-wrapper--select-view
  input[type='radio']:checked
  + .account-addresses-wrapper__label
  .account-actions-address.account-actions-address--address {
  background-color: var(--color-neutral-50);
}

.account-addresses-wrapper--select-view .account-address-card {
  margin: 0;
}

.account-addresses-wrapper--select-view .account-addresses-form__footer__wrapper {
  padding: var(--spacing-medium);
}
