/* https://cssguidelin.es/#bem-like-naming */

.account-change-password .dropin-card__content {
  gap: 0;
}

.account-change-password__title {
  margin-bottom: var(--spacing-medium);
}

.account-change-password .account-change-password__notification {
  margin-bottom: var(--spacing-medium);
}

.account-change-password
  .account-change-password__fields
  .account-change-password__fields-item {
  margin-bottom: var(--spacing-medium);
}

.account-change-password
  .account-change-password__fields
  .account-change-password__fields-item:last-child {
  margin-bottom: 0;
}

.account-change-password .account-change-password__actions {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0 var(--grid-3-gutters);
  margin-top: var(--spacing-xlarge);
}

.account-change-password .account-change-password__actions button {
  min-width: 144px;
}
