/* https://cssguidelin.es/#bem-like-naming */

.customer-information__title {
  margin-bottom: var(--spacing-medium);
}

.account-customer-information-card-short {
  margin-bottom: var(--spacing-small);
}

.account-customer-information-card .dropin-card__content {
  gap: 0;
}

.account-customer-information-card__wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.account-customer-information-card .account-customer-information-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 var(--grid-2-gutters);
}

.account-customer-information-card
  .account-customer-information-card__actions
  button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.account-customer-information-card__content p {
  font: var(--type-body-1-default-font);
  margin: 0 var(--spacing-xsmall) 0 0;
  line-height: var(--spacing-xbig);
  padding: 0;
}

.account-customer-information-card__content p:nth-child(1),
.account-customer-information-card__content p:nth-child(2) {
  font: var(--type-body-1-strong-font);
  font-weight: 500;
  margin: 0 var(--spacing-xsmall) var(--spacing-xsmall) 0;
}

.account-customer-information-card__content p:nth-child(1) {
  float: left;
}
