/* https://cssguidelin.es/#bem-like-naming */

.account-edit-customer-information__title {
  margin-bottom: var(--spacing-medium);
}

.account-edit-customer-information .dropin-card__content {
  gap: 0;
}

.account-edit-customer-information
  .account-edit-customer-information__notification {
  margin-bottom: var(--spacing-medium);
}

.account-edit-customer-information
  .account-edit-customer-information-form__field:nth-child(n + 3),
.account-edit-customer-information
  .account-edit-customer-information__password {
  grid-column: span 2;
}

.account-edit-customer-information .account-edit-customer-information__actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0 var(--grid-2-gutters);
  grid-column: span 2;
}

.account-edit-customer-information
  .account-edit-customer-information__actions
  button {
  min-width: 144px;
}
