/* https://cssguidelin.es/#bem-like-naming */
.account-empty-list {
  margin-bottom: var(--spacing-small);
}

.account-empty-list.account-empty-list--minified {
  border: none;
}

.account-empty-list .dropin-card {
  border: none;
}

.account-empty-list .dropin-card__content {
  gap: 0;
  padding: var(--spacing-xxbig);
}

.account-empty-list.account-empty-list--minified .dropin-card__content {
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-big) var(--spacing-small);
}

.account-empty-list .dropin-card__content svg {
  width: 64px;
  height: 64px;
  margin-bottom: var(--spacing-medium);
}

.account-empty-list.account-empty-list--minified .dropin-card__content svg {
  margin: 0 var(--spacing-small) 0 0;
  width: 32px;
  height: 32px;
}

.account-empty-list .dropin-card__content svg path {
  fill: var(--color-neutral-800);
}

.account-empty-list.account-empty-list--minified .dropin-card__content svg path {
  fill: var(--color-neutral-500);
}

.account-empty-list .dropin-card__content p {
  font: var(--type-headline-1-font);
  letter-spacing: var(--type-headline-1-letter-spacing);
  color: var(--color-neutral-800);
}

.account-empty-list.account-empty-list--minified .dropin-card__content p {
  font: var(--type-body-1-strong-font);
  color: var(--color-neutral-800);
}
