/* https://cssguidelin.es/#bem-like-naming */
.account-orders-list-header {
  margin-bottom: var(--spacing-medium);
}

.account-orders-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-orders-list__date-select {
  margin-bottom: var(--spacing-xbig);
}

.account-orders-list__date-select span {
  display: inline-block;
  font: var(--type-details-caption-1-font);
  letter-spacing: var(--type-details-caption-1-letter-spacing);
  margin-bottom: var(--spacing-xsmall);
}

.account-orders-list__date-select .dropin-picker {
  max-width: 224px;
}
