/* https://cssguidelin.es/#bem-like-naming */

.account-orders-list-card {
  height: 100%;
  margin-bottom: var(--spacing-small);
}

.account-orders-list-card .dropin-card__content {
  padding: var(--spacing-medium);
  display: grid;
  grid-template-areas:
    'content actions'
    'imageList actions';
  gap: 0;
  max-height: 100%;
}

.account-orders-list-card .account-orders-list-card__content {
  grid-area: content;
  margin-bottom: var(--spacing-small);
}

.account-orders-list-card__content--quantity {
  font-weight: 500;
  color: var(--color-neutral-800);
}

.account-orders-list-card__content--track_number,
.account-orders-list-card__content--return_number {
  font: var(--type-body-1-strong-font);
  letter-spacing: var(--type-body-1-strong-letter-spacing);
  cursor: pointer;
}

.account-orders-list-card .account-orders-list-card__content > div:first-child {
  font-weight: 500;
}

.account-orders-list-card .account-orders-list-card__content p,
.account-orders-list-card .account-orders-list-card__content div {
  padding: 0;
  text-align: left;
  font: var(--type-body-1-default-font);
  margin: 0 0 var(--spacing-small) 0;
  color: var(--color-neutral-800);
}

.account-orders-list-card p.account-orders-list-card__content--product-name {
  margin: 0;
}

.account-orders-list-card .account-orders-list-card__content p:last-child {
  margin: 0;
}

.account-orders-list-card .account-orders-list-card__content div {
  font: var(--type-button-2-font);
  margin-bottom: var(--spacing-small);
}

.account-orders-list-card .account-orders-list-card__actions {
  grid-area: actions;
}

.account-orders-list-card .account-orders-list-card__images {
  overflow: auto;
}

.account-orders-list-card
  .account-orders-list-card__images
  .dropin-content-grid__content {
  grid-template-columns: repeat(6, max-content) !important;
}

.account-orders-list-card
  .account-orders-list-card__images-3
  .dropin-content-grid__content {
  grid-template-columns: repeat(3, max-content) !important;
}

.account-orders-list-card .account-orders-list-card__images img {
  object-fit: contain;
  width: 65px;
  height: 65px;
}

.account-orders-list-card .account-orders-list-card__actions {
  position: relative;
  align-self: center;
  margin-left: auto;
}

@media (min-width: 768px) {
  .account-orders-list-card.account-orders-list-card--full
    .dropin-card__content {
    max-height: 100%;
  }
}
