/* https://cssguidelin.es/#bem-like-naming */

.account-orders-list-action {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.account-orders-list-action--minifiedView {
  width: 100%;
  text-align: left;
  font: var(--type-body-1-default-font);
}

.account-orders-list-action.account-orders-list-action--minifiedView:hover {
  text-decoration: none;
}

.account-orders-list-action--minifiedView
  .account-orders-list-action__card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-neutral-800);
  height: calc(88px - var(--spacing-small) * 2);
}

.account-orders-list-action__card-wrapper > p {
  font: var(--type-button-2-font);
  letter-spacing: var(--type-button-2-letter-spacing);
}

.account-orders-list-action__card-wrapper svg,
.account-orders-list-action svg {
  color: var(--color-neutral-800);
}

.account-orders-list-action--minifiedView .dropin-card__content {
  padding: var(--spacing-small) var(--spacing-medium);
}

.account-orders-list-action--minifiedView p {
  font: var(--type-body-1-strong-font);
}
