.dropin-design {
  --color-brand-500: #454545; /* Brand buttons default - AAA */
  --color-brand-600: #383838; /* Brand buttons on hover - AAA */
  --color-brand-700: #2b2b2b; /* Brand buttons selected */
  --color-neutral-50: #ffffff; /* Lightest surface / Text & components On Dark surface - AAA */
  --color-neutral-100: #fafafa; /* Light surface - AAA */
  --color-neutral-200: #f5f5f5; /* Light surface - AAA */
  --color-neutral-300: #e8e8e8; /* Disabled surfaces - AAA */
  --color-neutral-400: #d6d6d6; /* Ornamental elements (ie. Divider) */
  --color-neutral-500: #b8b8b8; /* Disabled text */
  --color-neutral-600: #8f8f8f; /* Component borders (ie. Text field border) - AA Large text */
  --color-neutral-700: #666666; /* Secondary text - AAA */
  --color-neutral-800: #3d3d3d; /* Default text - AAA */
  --color-neutral-900: #292929; /* Default text on hover - AAA */
  --color-positive-200: #eff5ef; /* Semantic positive surface - AA Large text */
  --color-positive-500: #7fb078; /* Semantic positive surface */
  --color-positive-800: #53824c; /* Semantic Positive text - On Light AA */
  --color-informational-200: #eeeffb; /* Semantic informational surface - AA Large text */
  --color-informational-500: #6978d9; /* Semantic informational surface */
  --color-informational-800: #5d6dd6; /* Semantic informational text, Highlights - On Light AA */
  --color-warning-200: #fdf3e9; /* Semantic warning surface - AA Large text */
  --color-warning-500: #e79f5c; /* Semantic warning surface */
  --color-warning-800: #cc7a2e; /* Semantic warning text - On Light AA */
  --color-alert-200: #ffebeb; /* Semantic alert surface - AA Large text */
  --color-alert-500: #db7070; /* Semantic alert surface */
  --color-alert-800: #c35050; /* Semantic alert text - On light AA */
  --color-opacity-16: rgba(255, 255, 255, 0.16);
  --color-opacity-24: rgba(255, 255, 255, 0.24);
  --color-action-button-active: #ffffff; /* Defaults to var(--color-neutral-50) */
  --color-action-button-hover: #e8e8e8; /* Defaults to var(--color-neutral-300) */
  --color-button-active: #2b2b2b; /* Defaults to var(--color-brand-700) */
  --color-button-focus: #d6d6d6; /* Defaults to var(--color-neutral-400) */
  --color-button-hover: #383838; /* Defaults to var(--color-brand-600) */
}
